<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <p>Click on <b>Choose file</b>, Select the picture that will appear in the news. <br>Write the Title of the News on the
        <b>"Title of
     News column".</b><br>The <b>"Passage column"</b> should contain the Body of the News<br>Then click on <b>"Upload News"</b>        to upload the News to the Website.</p>
    <br>
    <nav class="col-12">
        <form class="form-group input-group-lg" action="" method="POST" enctype="multipart/form-data">
            <div class="form-group input-group-lg">
                <label for="picture"><b>UPLOAD PHOTO:</b></label>
                <input type="file" class="form-control" name="picture" required>
            </div>
            <div class="form-group input-group-lg">
                <label for="heading"><b>TITLE OF NEWS:</b></label>
                <input type="text" class="form-control" name="heading" placeholder="Title" required>
            </div>
            <div class="form-group input-group-lg">
                <label for="passage"><b>MESSAGE:</b></label>
                <textarea type="text" class="form-control" name="passage" placeholder="Message" required></textarea>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success btn-block"><b>UPLOAD NEWS</b></button>
        </form>
    </nav>
    <br><br> {{>footer}}
</body>

</html>