<br>
<h5><b>
    ADMIN PAGE
  </b>
</h5>
<br>
{{#if message}}
  <p class="alert alert-success">{{message}}</p>
{{/if}}
<br>
<ul>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (11).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/studentlist"><b>ALL PSYCHOLOGY STUDENTS</b></a></p>
        <p>
          You can see all the Psychology Students, View their Profiles, and send anyone of them a
          message.
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (16).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/getcourses/100"><b>BSC. COURSES</b></a></p>
        <p>Click to view courses for Bsc. students. You can also Edit courses and Delete courses.
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (23).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/stafflist"><b>ALL LECTURERS</b></a></p>
        <p> You can check the number of Psychology Staffs, view their Profiles, and also designate courses
          to them.
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (17).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/getprojecttopicss"><b>PROJECT TOPICS</b></a></p>
        <p>You can see all project topics that have been uploaded on this website. You can also delete and
          edit
          projects which would take effect on the whole website.
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/unnamed (2).png" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/staffSignup"><b>REGISTER LECTURER</b></a></p>
        <p>Register staffs on this website and assign courses to them.
        </p>
      </div>
    </div>
  </li>
  <li class="container-fluid" style="display:none">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (20).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/getcourseform"><b>ADD BSC. COURSE</b></a></p>
        <p>Click to add courses offered by undergraduate psychology students...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (1).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/getnewsform"><b>UPLOAD NEWS</b></a></p>
        <p>
          You can Upload News and Informations to Users of this site. Uploaded NEWS can be viewed by both
          students, staffs, and by
          other people viewing the website.
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (8).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/getprojectform"><b>UPLOAD PROJECTS</b></a></p>
        <p> You can also upload Project Topics that is on .PDF format. Uploaded projects can be viewed by
          both students
          and staffs...
      </div>
    </div>
  </li>
  <li class="container-fluid" style="display:none">
    <div class="row">
      <div class="col-4 col-sm-2">
        <img src="/images/images (18).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/regtimetable"><b>ADD TIME TABLE</b></a></p>
        <p> You can register time table for all the various levels...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <span class="fa fa-gear" style="font-size:100px"></span>
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/admin/editlevelinfo"><b>SETTINGS</b></a></p>
        <p> Click for general settings and updates...
        </p>
      </div>
    </div>
  </li>
  <br>
</ul>
<br>