<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <h3>
        <center>ADMIN SIGNUP</center>
    </h3>
    <nav class="col-12">
        <form class="form group input-group-lg" action="" method="POST">
            <label for="email"><b>E-MAIL:</b></label>
            <input type="email" name="email" class="form-control" autocomplete="on" placeholder="Email.com" required>
            <br>
            <label for="surname"><b>SURNAME:</b></label>
            <input type="text" name="surname" class="form-control" autocomplete="on" placeholder="surname" required>
            <br>
            <label for="firstname"><b>FIRST NAME:</b></label>
            <input type="text" name="firstname" class="form-control" autocomplete="on" placeholder="first name" required>
            <br>
            <label for="gender"><b>GENDER:</b></label>
            <select name="gender" class="form-control" required>
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
            <br>
            <label for="verify"><b>VERIFICATION_ID:</b></label>
            <input type="text" name="verify" class="form-control" placeholder="Verification_ID" required>
            <br>
            <label for="password"><b>PASSWORD:</b></label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <br><br>
            <button type="submit" class="btn btn-success btn-block"><b>ADMIN SIGNUP</b></button>
        </form>
        <p></p>
    </nav>
    <br>
    <footer>{{>footer}}</footer>
</body>

</html>