<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
    <script>
        $('document').ready(function () {
            $("p.grace").click(function () {
                $(this).hide();
            });
        });
    </script>
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../images/psylogo4.jpg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-10">
                    <p class="grace"><a href="#">Upload Project</a></p>
                    <br>
                    <p>
                        Dear hod, you can upload Project Topics that is on pdf format. Uploaded projects can be viewed by both students and staffs,
                        and would also be seen by other people viewing this website, which can be viewed in the
                        <a href="#">Project Topic</a> column.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../images/imsulogo.jpg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-10">
                    <p class="grace"><a href="#">Upload TextBook</a></p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../images/drizzys.jpg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-10">
                    <p class="grace"><a href="/number">Check Number of Students</a></p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../images/quitter.jpg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-10">
                    <p class="grace"><a href="/staffnumber">Check Number of Students</a></p>
                </div>
            </div>
        </li>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../images/psylogo4.jpg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-10">
                    <p class="grace"><a href="/student/results">Upload Students Results</a></p>
                </div>
            </div>
        </li>
        <br>
        <li class="dropdown" title="View Time-Table">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">View Time-Table
                        <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">100 Level</a></li>
                <li><a href="#">200 Level</a></li>
                <li><a href="#">300 Level</a></li>
                <li><a href="#">400 Level</a></li>
            </ul>
        </li>
        <br>
        <li>
            <p><a href="#">Post Exam Time table</a></p>
        </li>
        <br>
        <li>
            <p><a href="#">Get Number of TextBooks Bought</a></p>
        </li>
    </ul>
    <br> {{>footer}}
</body>

</html>