<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (5).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/getlastnews">NEWS AND INFORMATIONS</a> <span class="badge badge-danger badge-pill">{{news}}</span></p>
                    <br>
                    <p>
                        Latest NEWS as it happens in Nigeria, and its educational institutions.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (11).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/studentlist">LIST OF NAPS STUDENTS</a></p>
                    <br>
                    <p>
                        You can see all the NAPS Students, View their Profiles , and send anyone of them a message. You can also select them by level
                        by clicking <a href="/list100students">100 Level Students</a>,
                        <a href="/list200students">200 Level Students</a>,
                        <a href="/list300students">300 Level Students</a>, or <a href="/list400students">400 Level Students</a>.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (17).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/getprojecttopicss">PROJECT TOPICS</a></p>
                    <br>
                    <p>You can see all project topics that have been uploaded on this website. You can also delete and edit
                        projects which would take effect on the whole website.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (23).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/stafflist">LIST OF NAPS STAFFS</a></p>
                    <br>
                    <p> You can check the number of Psychology Staffs, view their Profiles, and also designate courses to them.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (16).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/getallcourses">VIEW UNDERGRADUATE COURSES</a></p>
                    <br>
                    <p>Click to view courses offered by each level, You can also select a particular level by clicking <a href="/getallcourses">100 Level Courses</a>,
                        <a href="/get200courses">200 Level Courses</a> , <a href="/get300courses">300 Level Courses</a> ,
                        and
                        <a href="/get400courses">400 Level Courses.</a>
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (20).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/getcourseform">ADD UNDERGRADUATE COURSE</a></p>
                    <br>
                    <p>Click to add courses offered by undergraduate psychology students...
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (1).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/getnewsform">UPLOAD NEWS</a></p>
                    <br>
                    <p>
                        You can Upload News and Informations to Users of this site. Uploaded NEWS can be viewed by both students, staffs, and by
                        other people viewing the website.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (19).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/getprojectform">UPLOAD PROJECTS</a></p>
                    <br>
                    <p> You can also upload Project Topics that is on .PDF format. Uploaded projects can be viewed by both students
                        and staffs...
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (8).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="#">UPLOAD TEXTBOOKS</a></p>
                    <br>
                    <p>You can Upload a TextBook that is on .PDF Format to the library section of this website, and it can be
                        accessed by both students and staffs.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (18).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9 ">
                    <p><a href="#">UPLOAD STUDENTS RESULTS</a></p>
                    <br>
                    <p>This is still under construction. When done, You can Upload Students results. The purpose of this result
                        is just a file where students can know their CGPA only. The results added on this website, cannot
                        be used as an Evidence during Clearance or conflict in correlation to the School Results.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    </div>
    <br>
    <footer>{{>footer}}</footer>
</body>

</html>