<br>
<h5><b>
    EDIT PROJECT
  </b></h5>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6" id="kilo">
      <form class="form-group" action="" method="POST">
        <div class="form-group">
          <label for="topic"><b>PROJECT TOPIC:</b></label>
          <input type="text" class="form-control" name="topic" placeholder="Project Topic.." value="{{projectss.topic}}"
            required>
        </div>
        <div class="form-group">
          <label for="description"><b>PROJECT DESCRIPTION:</b></label>
          <textarea type="text" class="form-control" name="description" placeholder="Description..."
            required>{{projectss.description}}</textarea>
        </div>
        <br>
        <div class="form-group">
          <label for="category"><b>CATEGORY:</b></label>
          <select name="category" class="form-control" required>
            <option value="">select</option>
            <option value="amnesia">AMNESIA</option>
            <option value="anxiety">ANXIETY</option>
            <option value="dementia">DEMENTIA</option>
            <option value="depression">DEPRESSION</option>
            <option value="developmental_psychology">DEVELOPMENTAL PSYCHOLOGY</option>
            <option value="educational_performance">EDUCATIONAL PERFORMANCE</option>
            <option value="environment">ENVIRONMENT</option>
            <option value="locus_of_control">LOCUS OF CONTROL</option>
            <option value="personality">PERSONALITY</option>
            <option value="physical_performance">PHYSICAL PERFORMANCE</option>
            <option value="psychoactive_drugs">PSYCHOACTIVE DRUGS</option>
            <option value="psychopahology">PSYCHOPATHOLOGY</option>
            <option value="psychotherapy">PSYCHOTHERAPY</option>
            <option value="psychois">PSYCHOSIS</option>
            <option value="schizophrenia">SCHIZOPHRENIA</option>
            <option value="school_of_thought">SCHOOL OF THOUGHT</option>
          </select>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary"><b>
            EDIT</b></button>
      </form>
    </div>
  </div>
</div>
<br><br>