<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6" id="kilo">
                <form class="form-group input-group-lg" action="" method="POST">
                    <div class="form-group input-group-lg">
                        <label for="heading"><b>TITLE OF NEWS:</b></label>
                        <input type="text" class="form-control" name="heading" placeholder="Title" value="{{newy.heading}}" required>
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="passage"><b>PARAGRAPH 1:</b></label>
                        <textarea type="text" class="form-control" name="passage" placeholder="Paragraph 1..." required>{{newy.passage}}</textarea>
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="passage1"><b>PARAGRAPH 2:</b></label>
                        <textarea type="text" class="form-control" name="passage1" placeholder="Paragraph 2...">{{newy.passage1}}</textarea>
                    </div>
                    <div class="form-group input-group-lg">
                        <label for="passage2"><b>PARAGRAPH 3:</b></label>
                        <textarea type="text" class="form-control" name="passage2" placeholder="Paragraph 3...">{{newy.passage2}}</textarea>
                    </div>
                    <br><br>
                    <button type="submit" class="btn btn-success btn-lg"><b>EDIT</b></button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>