<ul>
    <li><b><a href="/admin/edit100levelinfo">100 LEVEL STUDENTS</a></b></li>
    <br>
    <li><b><a href="/admin/edit200levelinfo">200 LEVEL STUDENTS</a></b></li>
    <br>
    <li><b><a href="/admin/edit300levelinfo">400 LEVEL STUDENTS</a></b></li>
    <br>
    <li><b><a href="/admin/edit400levelinfo">400 LEVEL STUDENTS</a></b></li>
</ul>