<br>
<h5><b>
        {{message}}
    </b>
</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 dropdown" style="float:right">
            <button class="btn btn-secondary dropdown" data-toggle="dropdown"><span class="fa fa-search"></span>
                search</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/admin/edit100levelinfo">100 LEVEL</a>
                <a class="dropdown-item" href="/admin/edit200levelinfo">200 LEVEL</a>
                <a class="dropdown-item" href="/admin/edit300levelinfo">300 LEVEL</a>
                <a class="dropdown-item" href="/admin/edit400levelinfo">400 LEVEL</a>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p><b>CHANGE COURSE ADVISOR</b></p>
            <form action="" method="POST">
                <select name="course_adviser" class="form-control" required>
                    <option value="">Henry Emmanuel</option>
                </select>
                <button type="submit" class="btn btn-success">Change</button>
            </form>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p><b>PROMOTE STUDENTS TO:</b></p>
            <form action="" method="POST">
                <select name="level" class="form-control" required>
                    <option value="">400 LEVEL</option>
                </select>
                <button type="submit" class="btn btn-success">Change</button>
            </form>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p><b>CHANGE SEMESTER TO:</b></p>
            <form action="" method="POST">
                <select name="semester" class="form-control" required>
                    <option value="1">1ST SEMESTER</option>
                    <option value="2">2ND SEMESTER</option>
                </select>
                <button type="submit" class="btn btn-success">Change</button>
            </form>
        </div>
    </div>
</div>
<br><br>