<br>
<h4>
    <center>UPLOAD RESULT</center>
</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6" id="kilo">
            <form class="form-group" action="/admin/studentfillresult" method="POST">
                <div class="form-group">
                    <label for="coursecode"><b>COURSECODE:</b></label>
                    <input type="text" name="coursecode" placeholder="Coursecode" required>
                </div>
                <br><br>
                <button type="submit" class="btn btn-success btn-lg"><b><span class="fa fa-cloud-upload"></span>
                        START</b></button>
            </form>
        </div>
    </div>
</div>
<br><br>