<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>coursesbody}}
    <br>
    <br>
    <h3>There are {{data}} NAPS Students on this website</h3>
    <p>this page is really working</p>
    <br><br> {{>footer}}
</body>

</html>