<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>admin_lecbody}}
    <br><br>
    <h1><b><center>STAFF SIGNUP</center></b></h1>
    <br>
    {{#each errors}}
        <p>{{this}}</p>
    {{/each}}
    <div class="container-fluid">
        <div class="row">
            <div class="kilo">
                <form class="form group input-group-lg" action="" method="POST">
                    <label for="email"><b>E-MAIL:</b></label>
                    <input type="email" name="email" class="form-control" placeholder="Email.com" required>
                    <br>
                    <label for="surname"><b>SURNAME:</b></label>
                    <input type="text" name="surname" class="form-control" placeholder="surname" required>
                    <br>
                    <label for="firstname"><b>FIRST NAME:</b></label>
                    <input type="text" name="firstname" class="form-control" placeholder="first name" required>
                    <br>
                    <label for="staff_id"><b>STAFF_ID:</b></label>
                    <input type="number" name="staff_id" class="form-control" required>
                    <br>
                    <label for="gender"><b>GENDER:</b></label>
                    <select name="gender" class="form-control" required>
                <option value="male">male</option>
                <option value="female">female</option>
                </select>
                    <br>
                    <label for="phone"><b>PHONE NUMBER:</b></label>
                    <input type="tel" name="phone" class="form-control" placeholder="" required>
                    <br>
                    <label for="bio"><b>STATUS:</b></label>
                    <input type="text" class="form-control" name="bio" placeholder="About you" required>
                    <br>
                    <label for="password"><b>PASSWORD:</b></label>
                    <input type="password" class="form-control" name="password" required>
                    <br><br>
                    <button type="submit" class="btn btn-success btn-lg"><b>STAFF SIGNUP</b></button>
                </form>
            </div>
        </div>
    </div>
    </div>
    <br> {{>footer}}
</body>

</html>