<div class="container-fluid">
  <header>
    <div class="row flex-nowrap justify-content-between align-items-center bg-dark">
      <div class="col-4 d-flex justify-content-start">
        <h3 class="text-white" href="#">PSYNET</h3>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="btn btn-sm btn-outline-light" href="/admin/logout">Logout</a>
      </div>
    </div>
  </header>
</div>
<div class="stay">
  <ul class="nav nav-pills nav-justified">
    {{#if admin}}
      <li class="nav-item" title="Admin Home">
        <a href="/admin/hercules" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-home"
            id="mum2"></span></a></li>
      <li class="nav-item" title="News">
        <a href="/admin/getlastnews" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-bell" id="mum2">
          </span> <span class="badge badge-danger badge-pill spany">{{news}}</span></a></li>
      <li class="nav-item" title="Your Profile">
        <a href="/admin/profile/{{admin}}" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-user-o"
            id="mum2"></span></a>
      </li>
      <li class="nav-item dropdown">
        <button class="btn btn-primary btn-lg btn-block mum dropdown" data-toggle="dropdown"><span class="fa fa-bars"
            id="mum2"></span></button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="/admin/studentlist">Students</a>
          <a class="dropdown-item" href="/admin/stafflist">Staffs</a>
          <a class="dropdown-item" href="#">Activities</a>
          <a class="dropdown-item" href="/admin/logout">Logout</a>
        </div>
      </li>
    {{else}}
      <li class="nav-item" title="HomePage">
        <a href="/" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-home" id="mum2"></span></a>
      </li>
      <li class="nav-item" title="Admin Login">
        <a href="/admin/login" class="btn btn-primary btn-lg btn-block mum">LOGIN</a>
      </li>
      <li class="nav-item" title="Admin Signup">
        <a href="/admin/x2f4hjks8xmn" class="btn btn-primary btn-lg btn-block mum">SIGNUP</a>
      </li>
    {{/if}}
  </ul>
</div>