<div class="logo">
    <img src="../images/drizzys.jpg" alt="NAPS image" class="rounded" width="100%" height="250" />
</div>
<div class="stay">
    <ul class="nav nav-pills nav-justified">
        {{#if admin}}
            <li class="nav-item" title="Staff Home">
                <a href="/hercules/admin" class="btn btn-primary btn-lg btn-block">ADMIN HOME</a></li>
            <li class="nav-item" title="Your Profile">
                <a href="/adminss/{{admin}}" class="btn btn-primary btn-lg btn-block">ADMIN PROFILE</a>
            </li>
            <li class="nav-item" title="LogOut">
                <a href="/adminlogout" class="btn btn-danger btn-lg btn-block">LOGOUT</a>
            </li>
        {{else}}
            <li class="nav-item" title="Admin Login">
                <a href="/" class="btn btn-primary btn-lg btn-block">HOMEPAGE</a>
            </li>
            <li class="nav-item" title="Admin Login">
                <a href="/adminlogin" class="btn btn-primary btn-lg btn-block">ADMIN LOGIN</a>
            </li>
            <li class="nav-item" title="Admin SignUp">
                <a href="/x2f4hjks8xmn" class="btn btn-primary btn-lg btn-block">ADMIN SIGNUP</a>
            </li>
        {{/if}}
    </ul>
</div>