{{>view_body}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../images/images (14).jpeg" class="rounded" alt="psy_students" width="100%">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade">
                    <img src="../images/images (11).jpeg" class="rounded" alt="psy_students" width="100%">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade">
                    <img src="../images/images (12).jpeg" class="rounded" alt="psy_students" width="100%">
                    <div class="text"></div>
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
            <script src="./javascripts/slideshow.js"></script>
        </div>
        <div class="col-sm-12 col-lg-6">
            <br>
            <p>Do you want your schooling to be made easy?, <b>PSYBOOK</b> is here to make it happen. There are various advantages
                to registering on this website, and they include: </p><br>
            <p><b>1. Easy Access to coursemates profile<br><br>
            2. Easy access to staffs Profile.<br><br>
            3. Access to your results and calculation of your CGPA.<br><br>
            4. Easy access to handouts for various courses.<br><br>
            5. Notification for test and assignments. <br><br>
            6. Latest news and info about school and department.<br><br>
            7. Notification for lectures. <br><br>
            8. Easy access to psychology projects and research, etc.</b>
            </p>
        </div>
    </div>
</div>