{{>view_body}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-7">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../images/images (14).jpeg" class="rounded" alt="psy_excursion" width="100%">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade">
                    <img src="../images/psylogo4.jpg" class="rounded" alt="psy_symbol" width="100%">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade">
                    <img src="../images/images (11).jpeg" class="rounded" alt="psy_excursion" width="100%">
                    <div class="text"></div>
                </div>
                <div class="mySlides fade">
                    <img src="../images/images (12).jpeg" class="rounded" alt="quotes" width="100%">
                    <div class="text"></div>
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
            <script src="./javascripts/slideshow.js"></script>
        </div>
    </div>
</div>