<div class="container-fluid">
        <div class="row">
            <nav class="col-sm-12">
                <h1>Imo State University</h1>
                <time>Todays date is: <span id="time"></span> </time>
                <script>
                    var day = Date();
                    document.getElementById("time").innerHTML = day;
                </script>
                <div class="head">
                    <h1>National Association of Psychology Students<br>
                </div>
                <div class="wrap">
                    <div class="assoc">NAPS<br>
                        <div class="motto">Motto: Towards A Perfect Man</div>
                    </div>
                </div>
                </h1>
            </nav>
        </div>
    </div>