<div class="container-fluid" style="background-image: url('../images/barbie.jpg');margin-top:-15px">
  <div class="row">
    <div class="col-12 col-sm-10 col-md-7 col-lg-6 homeview">
      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="../images/images (14).jpeg" class="rounded homie" alt="psy_students">
          <div class="text"></div>
        </div>
        <div class="mySlides fade">
          <img src="../images/images (11).jpeg" class="rounded homie" alt="psy_students">
          <div class="text"></div>
        </div>
        <div class="mySlides fade">
          <img src="../images/images (12).jpeg" class="rounded homie" alt="psy_students">
          <div class="text"></div>
        </div>
      </div>
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
      <br><br>
      <script src="./javascripts/slideshow.js"></script>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <br><br>
      <p>Do you want your schooling to be made easy?, <b>PSYNET</b> is here to make it happen. There are various
        advantages
        to registering on this website, and they include: </p><br>
      <p><b>1. Access to results and computed CGPA.</b></p><br>
      <p><b>2. Instant messaging between students and staffs.</b></p> <br>
      <p><b>3. Notifications for test and assignments.</b></p> <br>
      <p><b>4. Informations on coursemates.</b></p><br>
      <p><b>5. Informations on psychology lecturers.</b></p><br>
      <p><b>6. Latest news, info and gists on campus.</b></p> <br>
      <p><b>7. Up to date time table and venues of lectures.</b></p> <br>
      <p><b>8. Access to handouts for various courses.</b></p> <br>
      <p><b>9. Access to psychology projects and researches, etc.</b></p>
    </div>
  </div>
</div>