<h1>
    Imo State University</h1>
<time>Today's date is: <span id="time"></span> </time>
<script>
    document.getElementById("time").innerHTML = Date();

</script>
<div class="head">
    <h1>National Association of Psychology Students<br>
</div>
<div class="wrap">
    <div class="assoc">NAPS<br>
        <div class="motto">Motto: Towards A Perfect Man</div>
    </div>
</div>
</h1>
<div class="stay">
    <div class="btn-group btn-group-justified">
        <ul class="nav nav-pills nav-justified">
            <li title="Homepage">
                <a href="/" class="btn btn-primary">Home</a></li>
            <li class="dropdown" title="Clicks to see Available courses">
                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">Courses
                        <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="100level">100level Courses</a></li>
                    <li><a href="200level">200level Courses</a></li>
                    <li><a href="300level">300level Courses</a></li>
                    <li><a href="400level">400level Courses</a></li>
                </ul>
            </li>
            <li title="Click to see upcoming events">
                <a href="news" class="btn btn-primary">News <span class="badge">3</span></a></li>
            <li class="dropdown" title="Info About Us">
                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">About Us
                        <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="history">History</a></li><br>
                    <li><a href="objectives">Objectives</a></li>
                    <li><a href="guidelines">Guidelines</a></li>
                    <li><a href="orientation">Orientations</a></li>
                    <li><a href="examination">Examinations</a></li>
                    <li><a href="libraryinfo">Library Facilities</a></li>
                </ul>
            </li>
            <li title="login">
                <a href="login" class="btn btn-primary">Log In</a></li>
            <li class="dropdown" title="Click to register">
                <a data-toggle="dropdown" class="btn btn-link dropdown-toggle" href="#" <b class="caret"></b>Sign Up</a>
                <ul class="dropdown-menu">
                    <li><a href="student_signup">Student SignUp</a></li>
                    <li><a href="staff_signup">Staff SignUp</a></li>
                </ul>
            </li>
            <li title="library">
                <a href="library" class="btn btn-primary">Library</a>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img src="./images/IMGcoursemate3.jpg" class="img-rounded" alt="psy_excursion" width="100%" height="400">
                    <div class="text">Forensic psychology Excursion at Owerri High Court.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">2 / 4</div>
                    <img src="./images/psylogo4.jpg" class="img-rounded" alt="psy_symbol" width="100%" height="400">
                    <div class="text">The National Symbol of Psychology.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">3 / 4</div>
                    <img src="./images/IMGprison.jpg" class="img-rounded" alt="psy_excursion" width="100%" height="400">
                    <div class="text">Forensic Psychology Excursion at Owerri Prison.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">4 / 4</div>
                    <img src="./images/quitter.jpg" class="img-rounded" alt="quotes" width="100%" height="400">
                    <div class="text">Quotes</div>
                </div>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
            <script src="./javascripts/slideshow.js"></script>
        </div>
        <div class="col-sm-3">
            <img src="./images/lee.jpg" class="img-rounded" alt="advert" width="100%" height="400">
        </div>
    </div>
</div>
<br>