<footer>
    <p>You can follow Psychology on various social media platforms by contacting the various Course-reps of each
        level...</p>
    <img src="/images/facebook.png" alt="image" class="rounded" width="5%" height="30" /><img src="/images/twitter.png"
        alt="image" class="rounded" width="5%" height="30" /><img src="/images/whatsapp.png" alt="image" class="rounded"
        width="7%" height="40" /><img src="/images/instagram.jpeg" alt="image" class="rounded" width="5%" height="30" />
    <p><b>2018
            <span class="fa fa-copyright" style="font-size:20px"></span> Prestige...07065585474</b>
    </p>
</footer>