<footer>
    <p id="foot">You can follow NAPS on various social media platforms by contacting the various Course-reps of each level but our official
        facebook page will be launched shortly.<img src="../images/facebook.png" alt="image" class="rounded" width="5%" height="30"
        /> <img src="../images/twitter.png" alt="image" class="rounded" width="5%" height="30" /><img src="../images/whatsapp.png"
            alt="image" class="rounded" width="7%" height="40" /><img src="../images/instagram.jpeg" alt="image" class="rounded"
            width="5%" height="30" /><br><b>copyright: &copy 2018 Prestige...07065585474</b>
    </p>
</footer>