<meta charset="utf-8">
<meta name="viewpoint" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#EC8787" />
<title>{{title}}</title>
<link rel="stylesheet" media="screen and (max-width:900px)" href="../stylesheets/man.css">
<link rel="stylesheet" media="screen and (min-width:900px)" href="../stylesheets/laptop.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>