<div class="stay">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" title="Staff Home">
            <a href="/staff/staffhome" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-home" id="mum2"></span></a></li>
        <li class="nav-item" title="News">
            <a href="/staff/getlastnews" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-bell" id="mum2">
                </span> <span class="badge badge-danger badge-pill spany">{{news}}</span></a></li>
        <li class="nav-item" title="Your Profile">
            <a href="/staff/profile/{{staff_session}}" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-user-o"
                    id="mum2"></span></a>
        </li>
        <li class="nav-item" title="LOGOUT">
            <a href="/staff/logout" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-power-off" id="mum2"
                    style="color:red"></span></a>
        </li>
    </ul>
</div>