<div class="stay">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" title="Staff Home">
            <a href="/staff/staffhome" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-home"
                    id="mum2"></span></a></li>
        <li class="nav-item" title="News">
            <a href="/staff/getlastnews" title="Staff News" class="btn btn-primary btn-lg btn-block mum"><span
                    class="fa fa-bell" id="mum2">
                </span> <span class="badge badge-danger badge-pill spany">{{news}}</span></a></li>
        <li class="nav-item" title="Your Profile">
            <a href="/staff/profile/{{staff_session}}" class="btn btn-primary btn-lg btn-block mum"><span
                    class="fa fa-user-o" id="mum2"></span></a>
        </li>
        <li class="nav-item" title="Messages">
            <a href="#" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-whatsapp" id="mum2"></span></a>
        </li>
        <li class="nav-item dropdown">
            <button class="btn btn-primary btn-lg btn-block mum dropdown" data-toggle="dropdown"><span
                    class="fa fa-bars" id="mum2"></span></button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Staffs</a>
                <a class="dropdown-item" href="#">Medals</a>
                <a class="dropdown-item" href="/staff/logout">Logout</a>
            </div>
        </li>
    </ul>
</div>