{{>staff_lecbody}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img src="./images/IMGcoursemate3.jpg" class="rounded" alt="psy_excursion" width="100%" height="400">
                    <div class="text">Forensic psychology Excursion at Owerri High Court.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">2 / 4</div>
                    <img src="./images/psylogo4.jpg" class="rounded" alt="psy_symbol" width="100%" height="400">
                    <div class="text">The National Symbol of Psychology.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">3 / 4</div>
                    <img src="./images/IMGprison.jpg" class="rounded" alt="psy_excursion" width="100%" height="400">
                    <div class="text">Forensic Psychology Excursion at Owerri Prison.</div>
                </div>
                <div class="mySlides fade">
                    <div class="numbertext">4 / 4</div>
                    <img src="./images/advert2.jpg" class="rounded" alt="quotes" width="100%" height="400">
                    <div class="text">Quotes</div>
                </div>
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
            <script src="./javascripts/slideshow.js"></script>
        </div>
        <div class="col-sm-3">
            <div class="agree">
                <img src="./images/advert2.jpg" class="rounded" alt="advert" width="100%" height="400">
            </div>
        </div>
    </div>
</div>