<img src="../images/drizzys.jpg" alt="NAPS image" class="logo" />
<div class="stay">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" title="Homepage">
            <a href="/studenthome" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-home" id="mum2"></span></a></li>
        <li class="nav-item" title="News">
            <a href="/studentgetlastnews" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-bell" id="mum2" >  </span> <span class="badge badge-danger badge-pill" style="font-size:20px">{{news}}</span></a></li>
        <li class="nav-item" title="Your Profile">
            <a href="/studentss/{{allowed}}" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-user-o" id="mum2"></span></a>
        </li>
        <li class="nav-item" title="LogOut">
            <a href="/logout" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-power-off" id="mum2" style="color:red"></span> </a>
        </li>
    </ul>
</div>