<img src="../images/drizzys.jpg" alt="NAPS image" class="logo" />
<div class="stay">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" title="Home">
            <a href="/" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-home" id="mum2"></span> </a></li>
        <li class="nav-item" title="News">
            <a href="/defaultnews" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-bell" id="mum2" >  </span> <span class="badge badge-danger badge-pill" style="font-size:20px">{{number}}</span></a></li>
        <li class="nav-item" title="About Us">
            <a href="/aboutus" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-file-archive-o" id="mum2"></span></a></li>
        <li class="nav-item" title="About Us">
            <a href="#" class="btn btn-primary btn-lg btn-block mum"><span class="fa fa-search" id="mum2"></span></a></li>
    </ul>
</div>