<div class="logo">
    <img src="../images/drizzys.jpg" alt="NAPS image" class="rounded" width="100%" height="250" />
</div>
<div class="stay">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" title="Homepage">
            <a href="/" class="btn btn-primary btn-lg btn-block">HOME</a></li>
        <li class="nav-item" title="Click to see upcoming events">
            <a href="/defaultnews" class="btn btn-primary btn-lg btn-block">NEWS  <span class="badge badge-danger badge-pill">{{number}}</span></a></li>
        <li class="nav-item" title="Click to see upcoming events">
            <a href="/aboutus" class="btn btn-primary btn-lg btn-block">ABOUT US</a></li>
    </ul>
</div>