.logo {
    background-size: cover;
}

body {
    background-size: cover;
    border: 2px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 150%;
    line-height: 1.6;
    border: none;
    font-family: italic, serif;
}

li {
    display: inline;
    padding: 0.30em;
    margin: 0;
}

a:hover {
    color: purple;
}

.stay {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

.wrap {
    text-align: center;
}

footer {
    background-color: slategray;
    background-size: cover;
    color: black;
    text-align: left;
    border-radius: 0px;
}

.courses {
    text-align: left;
}

/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: 5px;
}

.mySlides {
    display: none;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: dodgerblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: black;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6.5s;
    animation-name: fade;
    animation-duration: 6.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .9
    }
    to {
        opacity: 1
    }
}

.align {
    text-align: left;
}

table,
th,
td {
    border: 2px solid black;
    font-family: Arial, sans-serif;
    font-size: 120%;
    text-align: left;
}