body {
    background-size: cover;
    background-color: lightpink;
    display: block;
}

h1 {
    font-size: 40px;
    font-family: Palatino, 'Palatino Linotype', serif;
    color: black;
    text-align: center;
}

h2 {
    font-size: 56px;
    text-align: center;
    font-family: italic;
}

p {
    font-size: 25px;
    border: none;
    font-family: italic;
}

h3 {
    text-align: center;
}

h4 {
    text-align: left;
}

li {
    display: inline;
    padding: 0.30em;
}

ul {
    width: 100%;
}

a:hover {
    color: purple;
}

.motto {
    font-size: 15px;
    color: red;
}

.assoc {
    font-size: 40px;
    color: black;
}

.head {
    background-color: deeppink;
}

.stay {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
}

.wrap {
    text-align: center;
}

footer {
    background-color: slategray;
    color: black;
    text-align: left;
}

.courses {
    text-align: left;
}

* {
    box-sizing: border-box;
}

/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

/* Caption text */

.text {
    color: darkmagenta;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/4 etc) */

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: dodgerblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: black;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6.5s;
    animation-name: fade;
    animation-duration: 6.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.align {
    text-align: left;
}

table,
th,
td {
    border: 2px solid black;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* table colors */

.succeed {
    background-color: lightblue;
}

.waring {
    background-color: lightskyblue;
}

.nothing {
    background-color: lightgrey;
}

.inform {
    background-color: #A4F0A4;
}

.anger {
    background-color: #E2D094;
}