<h5>TESTING CLOUDINARY IMAGE</h5>
<br><br>
<form action="" method="POST" enctype="multipart/form-data">
    <input type="file" class="form-control" name="image" placeholder="upload photo" required />
    <br>
    <button type="submit" class="btn btn-success"><span class="fa fa-edit"></span></button>
    <br>
</form>
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <img src="https://res.cloudinary.com/elijah/image/upload/v1548711719/samples/imagecon-group.jpg"
                weight="20%" height="300px" />
        </div>
    </div>
</div>