<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body style="background-color:lightpink">
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-12">
                <h1>Imo State University</h1>
                <time>Todays date is: <span id="time"></span> </time>
                <script>
                    var day = Date();
                    document.getElementById("time").innerHTML = day;
                </script>
                <div class="head">
                    <h1>National Association of Psychology Students<br>
                </div>
                <div class="wrap">
                    <div class="assoc">NAPS<br>
                        <div class="motto">Motto: Towards A Perfect Man</div>
                    </div>
                </div>
                </h1>
            </nav>
        </div>
    </div>
    <div class="stay">
        <div class="btn-group btn-group-justified">
            <ul class="nav nav-pills nav-justified">
                <li title="Go back to Homepage">
                    <a href="/" class="btn btn-primary">Home</a></li>
                <li class="dropdown" title="Clicks to see Available courses">
                    <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">Courses
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="100level">100level Courses</a></li>
                        <li><a href="200level">200level Courses</a></li>
                        <li><a href="300level">300level Courses</a></li>
                        <li><a href="400level">400level Courses</a></li>
                    </ul>
                </li>
                <li title="Click to see upcoming events">
                    <a href="news" class="btn btn-primary">News <span class="badge">3</span></a></li>
                <li title="Info about us">
                    <a href="aboutus" class="btn btn-primary">About Us</a></li>
                <li title="login">
                    <a href="login" class="btn btn-primary">Log In</a></li>
                <li class="dropdown" title="Click to register">
                    <a data-toggle="dropdown" class="btn btn-link dropdown-toggle" href="#" <b class="caret"></b>Sign Up</a>
                    <ul class="dropdown-menu">
                        <li><a href="student_signup">Student_signUp</a></li>
                        <li><a href="staff_signup">Staff_signUp</a></li>
                    </ul>
                </li>
                <li title="library">
                    <a href="library" class="btn btn-primary">Library</a>
                </li>
            </ul>
        </div>
    </div>
    <br>
    <h2>*Origin of NAPS*</h2>
    <h4>
        <center><b>Introduction:</b></center>
    </h4>
    <p> The department of psychology, Imo state University, Owerri, started in 1995/1996 academic session with a student population
        of 43 under the headship of Mrs. Chioma Joyce Onukogu. The student’s population has gradually increased over the
        years. The department graduated its first batch of students in the 1998/1999 session. The department runs a four
        year academic program leading to the award of a Bachelor by Science (B.Sc.) Honours degree in Psychology. Philosophy
        By divine mandate, one of man’s major duties on earth is to conquer and advance the earth.<br> The human person to
        carrying out this seemingly difficult duty must understand himself, his environment and others around him. Man who
        is made up of the spirit, body and soul is ruled by his behaviour. His behaviour is shaped by hereditary, biological
        and environmental factors and, of course, these variables individually and interactively govern who he develops to
        be and his general and daily conducts. Psychology’s main aim is to understand man’s behaviour and how his environment
        influences him. In doing this, Psychologists concentrate on behaviour modification, control and prevention of unwanted
        behaviours, modelling of acceptable behaviours and indeed, corporate behaviour existence of human beings which yields
        community, national and global developments.</p>
    <br><br>
    <p><b>In the long term, knowledge of the science of psychology will equip students to tackle problems such as:</b><br>
        <br> a) Conducting relevant research that will provide basis for social policy formulation. <br><br> b) Providing
        effective and functional counselling and therapeutic services. <br><br> c) Providing business consultancy services.<br><br>        d) Engaging in employee training and manpower development services. <br><br> e) Providing educational and cultural
        development programmes. <br><br> f) Conducting family and marriage counselling and psychotherapeutic services.
        <br><br> g) Assisting in career and vocational counselling.
        <br><br> h) Assisting in behaviour modification and other behavioural therapies. <br><br>i) Assisting in the management
        of psychosomatic disorders, substance use disorders and mental illnesses, etc.<br><br> j) Providing rehabilitation
        services.
        <br><br> k) Conducting psychological assessment such as intelligence testing, aptitude testing, neurological testing
        etc. <br><br> l) Providing gender selection services, weight management services, men’s health solution services,
        psychological adjustment services, personnel selection services as well as retirement preparation services.<br><br>
        <b>Objectives At Imo State University, the undergraduate degree in psychology is built around the following goals:</b>        <br><br> 1. To give the students a firm background in the general discipline of psychology. Emphasis is on the principles,
        methods and philosophy of psychological investigation of human and animal behaviour. The stress area is the interdependence
        of the biological, psychological and socio cultural influences on human behaviour.
        <br><br> 2. To see students through a training and experience that will enable them to take up careers as psychologists
        in applied fields like education, medicine, administration, industry, law, commerce, the prison, police, armed forces,
        social welfare etc. with particular reference to the needs of Nigeria and Africa in the context of which research
        is to be carried out.
    </p><br>
    <p><b>GUIDELINES FOR B. SC. DEGREE IN PSYCHOLOGY</b><br><br> 1. A four year programme shall be provided leading to the award
        of Bachelor of Science degree to be denoted by the letters <b>B. Sc.</b> which may be awarded with honours or as
        a pass degree.
        <br><br> 2. Instructions in the department shall be by courses and empirical thesis at the final year. Students will
        be required to take an approved combination of courses in the University as the Senate and the Departmental Board
        may from time to time determine.<br><br> 3. Courses shall be evaluated in terms of course units. Credit units are
        weights assigned to each course as a measure of the amount of work done in those courses. Credit units measure course
        weighting as well as an indicator of students’ work load. The stipulated lecture times are two lecture contact hours
        per week, or three one hour laboratory field work or practical classes per week throughout a semester.<br><br> 4.
        There shall be four levels of courses, numbered from <b>101 -122; 221 - 254; 311 -382 and 431 -490.</b> Course numbers
        shall be prefixed by a three character programme/subject code. Determination of the class of degree shall be based
        on performance at all levels.<br><br> 5. In addition, the general studies programme is a compulsory requirement that
        must be satisfied by all students of the university. All students in this department are expected to take and pass
        the following GST/Computer Courses:<br><i>i. GST 1O1 – Use of English I<br> ii. GST 102 – Use of English II<br> iii. GST 103 – Introduction to Logic & Philosophy<br> iv. GST 104 – History and Philosophy
        of Science<br> v. GST 105 – Citizenship Education I<br> vi. GST 1O6 – Citizenship Education II<br> vii. GST 108 - Entrepreneurial Development I<br> viii. GST 223 - Entrepreneurial Development II<br> ix. GST 222 - Peace and
        Conflict Resolution
        <br> x. CMP 202 – Introduction to Computer<br> xi. CMP 301 – Computer Applications</i><br><br>6. a) All courses taught
        during each semester shall be examined at the end of the semester and candidates will be credited with the number
        of course units assigned to the course which they have passed.<br> b) In addition, the total number of course units
        taken with the grades obtained in each course shall also be recorded for the purpose of computing the Cumulative
        Grade Point Average (CGPA).<br><br> 7. Continuous Assessments (CA) may be regarded as part of course examination
        but marks scored through continuous assessment shall not constitute more than 30% of the full marks for the course.<br><br>8.
        The approved period of study for the award of the degree shall not normally be less than eight semesters.<br><br>        9. No student may normally offer less than 18 course units and more than 24 course units in any semester.<br><br>10.<br>        <i>a) The weighted grade points of courses taken shall be used for the determination of the class of degree.<br> b) The Cumulative Grade Point Average system shall be used for the determination
        of the class of degree.<br>c) The minimum number of course units for the award of degree shall be 144 units.<br> d) The degree shall be awarded with honours provided a student obtains a Cumulative Grade Point Average that satisfies
    the minimum requirements for an honours degree.</i><br><br> 11. The list of successful candidates for the degree shall
        be published with the following classification:<br> <i><b>a) First Class Honours<br> b) Second Class Honours (Upper Division)<br>                            c) <i>Second
        Class Honours (Lower Division)<br> d) Third Class Honours, and<br> e)Pass Degree.</b></i></i><br><br>12. Transfer
        students from outside the University /Department shall be expected to have taken and passed all the relevant courses
        for the department. For all transfers, a candidate shall:<br> <i>a) Have obtained a CGPA of not less than 1.00.<br> b) Meet the admission requirements applicable to the year of study and the programme into which he/she
            seeks transfer.<br> c) Earn waivers for only those relevant courses passed in his/her former department.<br> d) No transfers shall, however, be allowed into the first or final year of the programme.</i><br>
    </p><br>
    <p><b>13. GRADING SYSTEM</b><br> a) The mark obtained in each course is made up of continuous assessment of 30% and an end-of-
        semester examination of 70%.<br> b) Continuous assessment comprises any of:<br>
        <i>i. At least three tests, quizzes or assignments combination of same or part thereof.<br>
                                ii. Assessment in laboratory/field/clinics or combination as may be applicable.</i><br><br>
        <b>14. GRADE POINT (GP)</b><br> The mark scored in each course (continuous assessment and end-of semester examination
        score) has an equivalent letter grade of A to F, and each letter grade has a corresponding numerical value of 5.00
        to 0.00 called a grade point.<br><br>
        <b>15. GRADE POINT AVERAGE (GPA)</b><br> a) The academic performance of a student in any semester shall be measured
        with the Grade Point Average (GPA) which is the sum of quality points divided by total units for all the courses
        registered in the semester.<br> b) Quality Point (QP) is the product of the credit unit and grade point of each course.<br><br>
        <b>16. CUMULATIVE GRADE POINT AVERAGE (CGPA)</b><br> a) The Cumulative Grade Point Average (CGPA) is the measure
        of the students’ overall academic performance at any given point in his programme.<br> b) The CGPA is normally computed
        at the end of each semester as an up-to-date weighted mean of the grade points, where the weights are the course
        credit units.<br> c) The Grade Point earned at the end of semester examinations shall count towards the CGPA.
        <br> d) The CGPA is the sum of all quality point divided by the sum of all credit units for all courses registered/repeated
        so far in the programme.<br> e) The final CGPA obtained at the end of a students’ academic programme shall determine
        the class of degree the student shall be awarded.<br> f) Grades to be used for students who satisfactorily complete
        the work of a course by the end of the semester are:<br>
    </p>
    <div class="container-fluid">
        <div class="page-header">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>MARKS %</th>
                            <th>LETTER GRADES</th>
                            <th>GRADE POINTS</th>
                        </tr>
                    </thead>
                    <div class="left">
                        <tr class="success">
                            <td>70-100</td>
                            <td>A</td>
                            <td>5.00</td>
                        </tr>
                        <tr class="active">
                            <td>60-69</td>
                            <td>B</td>
                            <td>4.00</td>
                        </tr>
                        <tr class="info">
                            <td>50-59</td>
                            <td>C</td>
                            <td>3.00</td>
                        </tr>
                        <tr class="warning">
                            <td>45-49</td>
                            <td>D</td>
                            <td>2.00</td>
                        </tr>
                        <tr class="success">
                            <td>40-44</td>
                            <td>E</td>
                            <td>1.00</td>
                        </tr>
                        <tr class="danger">
                            <td>0-39</td>
                            <td>F</td>
                            <td>0.00</td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
    <p>17. The class of the degree of a student who has satisfactorily completed his course of studies shall be determined as
        follows:
    </p>
    <div class="container-fluid">
        <div class="page-header">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>CGPA</th>
                            <th>Class of Degree</th>
                        </tr>
                    </thead>
                    <tr class="success">
                        <td>4.50-5.00</td>
                        <td>First Class Honours</td>
                    </tr>
                    <tr class="active">
                        <td>3.50-4.49</td>
                        <td>Second Class Upper</td>
                    </tr>
                    <tr class="info">
                        <td>2.40-3.49</td>
                        <td>Second Class Lower</td>
                    </tr>
                    <tr class="warning">
                        <td>1.50-2.39</td>
                        <td>Third Class</td>
                    </tr>
                    <tr class="success">
                        <td>1.00-1.49</td>
                        <td>Pass</td>
                    </tr>
                    <tr class="danger">
                        <td>0.00-0.99</td>
                        <td>Fail</td>
                    </tr>
                </table>
                <style>
                    table,
                    th,
                    td {
                        border: 2px solid black;
                        font-family: Arial, sans-serif;
                        text-align: center;
                    }
                </style>
            </div>
        </div>
    </div>
    <p><b>ORIENTATION PROGRAMME,
                                    REGISTRATION AND LECTURES</b><br>All new students are expected to undergo an orientation
        programme prior to their registration exercise. This programme is intended to acquaint every new student with the
        whole range of services and privileges available to him/her as well as his/her responsibilities as a member of this
        academic community, It is expected that all new students would undertake the programme. It usually involves a meeting
        with the Vice-Chancellor or his representative, Deans of Faculties and a tour of major Units of the University. The
        programme for each year shall be circulated to freshmen and women prior to the commencement of the session At the
        beginning of each session, precisely in the first week of the first semester an orientation programme is organized
        for new students by the Department of Student Affairs in co-operation with the various departments of the University.
        It is mainly designed to acquaint the new students to the university life as well as enable them settle down quickly
        in the new found environment. Very important talks relevant to the student’s life in the University are discussed
        by both the academic and administrative staff of the University.<br><br><b>1. Objectives of the Orientation Programme</b><br>The
        objectives of the orientation for new students are to achieve the following:<br><i>i) to enable students to adjust to the physical environment of the University and operate at any frequency level in the University campus;
                                    <br>ii) to broaden the adjustment expectations of students to the university which is articulated in self discipline. Students are expected to be integral parts of the city of disciplined intellectuals;
                                    and<br>iii) to develop adjustment to listening to teachers,
                                    lectures and administrators in order to benefit from the training and instructions the university offers to the students.</i><br>It
        is, therefore, mandatory that all the students must attend all the sessions of the orientation programme.<br><br><b>2. Registration</b><br>To
        successfully complete the registration process, the student shall do the following:<br><b>Step 1:</b>pay his/her
        fees;
        <br><b>Step2:</b>present his/her fee clearance at the relevant faculty office and collect a set of registration materials;
        <br><b>Step 3:</b>after registration, the student reports to his/her Academic Adviser, The Adviser shall map out
        the students’ programme for the semester; the student then has to complete all the cards and present them to his/her
        Academic Adviser and the co-ordinator for their signatures; and
        <br><b>Step 4:</b>proceed to the Department of General Studies for assignment to his/her GST courses.<br><br><b>3. Other Aspects of Registration</b><br><i>i) Checking of Credentials: As part of the registration,
                                    students are required to report to the Registrar at the time shown against their department and bring with them the originals of their certificates / statements of result for inspection. A student will be asked to withdraw from the University if at any time it is discovered that his/her credentials do not meet the minimum entry requirements of the University.<br>ii) Adding/Dropping Courses: If it becomes necessary for a student to change any of the courses for which he has been registered,
                                    he shall obtain the Add/Delete Form from his/her department or faculty office for completion. Courses may be added or dropped,
                                    subject to approval of the Lecturer,
                                    Academic Adviser and coordinator of the department. The last date for adding/deleting courses is 6 (six) weeks after the commencement of lectures for any semester.<br>iii) Change of Degree Programmes: No student who meets all University and departmental entry requirements will be allowed to change his/her programmer of study until he\she has completed a full session in the programmer to which he/she was admitted. Any student who does not meet the special requirements of the discipline to which he/she has been admitted shall not normally have the option of changing to another discipline but will be asked to withdraw. However,
                                    subject to the availability of space,
                                    such a student may be allowed to change to any other programme within the Faculty for which he meets the admission requirements.<br>iv) Identity Cards: Registration is incomplete without identity cards: Arrangements are normally made by the Student Affairs and Registry to produce laminated identity cards with photographs for all freshmen/women. Each matriculated student must ensure that he/she has an identity card of Imo State University duly signed by the Registrar.</i><br><br><b>4. Student Personal Information Data Form:</b><br>Each
        student, on arrival and after first registration, is required to submit one signed passport size photograph and a
        file jacket to the Office of the Dean of Student Affairs and to fill all the necessary forms.<br>The Student Affairs
        Office maintains a Personal information Data form for every student. The form is obtained from the Office of the
        Dean of Student Affairs. On submission of a duly completed Personal Information Data Form, a file is opened for the
        student. All students are therefore enjoined to ensure that the said form is appropriately and duly completed, signed
        and returned to the Office of the Dean of Student Affairs with a signed passport size photograph to be affixed at
        the place indicted on the form.<br>It is important to note that unless a student has a file in the Student Affairs
        Department, he/she may avail himself/herself of the services of the Department, especially those of careers and Advisory
        services.
        <br><b>5. Lectures:</b><br>Lectures are scheduled between 8.00am and 6.00pm, except on Wednesday when lectures are
        scheduled between 8.00am and 12.00 noon.</p><br>
    <p><b>EXAMINATIONS RULES AND REGULATIONS</b><br><b>1. End of Semester Examinations:</b>All courses taught during a semester
        shall be examined at the end of that semester and students shall be credited with the number of units assigned to
        the courses in which they have passed the requisite examination.<br><b>2. Timetable for Examinations:</b>The examinations
        timetables shall, as much as possible, be arranged so that the examinations could be taken it the following order
        : <br>i. Combined sessional and final year courses<br>ii. Semester/sessional courses<br>iii. GST courses<br><i>The Registrar shall produce the final examinations time-table and circulate same to all Faculties normally not later than 2 weeks before the commencement of the examinations. Any suggested change in the time-table shall be entertained only on the recommendation of a department through its faculty to the Registrar who shall then take such action as is deemed necessary.</i><br><b>3. Accommodation:</b>All
        examinations shall be held in halls and rooms approved by Senate as appropriate for the purpose. Candidates must
        be seated far apart from each other so as to prevent any temptation to cheat. The sitting arrangement shall be such
        that all candidates for the examination must be visible to the invigilator / invigilators to reach the candidate
        with ease.<br><b>4. Setting and Moderation of Examination Questions:</b>Each lecturer shall be required to prepare
        and submit to the Department’s Examinations Committee, at least ten questions for one examination in each course
        taught as well as the list of candidates which shall be submitted through the Department’s Examinations Co-ordinator.
        Only one copy of the draft question paper shall be prepared and submitted. The Examination Committee of each discipline
        shall moderate, select and approve the questions which shall appear on each question paper. <br><b>5. Conduct Of Examinations:</b><br>i.
        Each course shall normally be examined at the end of the semester. However, final year projects and research papers
        may be examined at the end of the second semester.<br>ii. There shall be an examination in every course and only
        one course shall be examined in one paper.<br>iii. The time allowed for one theory paper shall not normally exceed
        three hours.<br>iv. Continuous assessment (quizzes and tests) is normally required in every course. Continuous assessment
        of students shall be by means of term papers, formal and informal tests, assessment in workshop/assessments, etc.,
        as may be applicable to a given discipline. However, continuous assessment shall not account for more than 30% of
        the final grades in the course.<br>v. A pass mark shall be 40% in every undergraduate course, taking into account
        the approved theory/practical papers.<br>vi Where laboratories/practical/workshops/studios/legal/ clinics, etc.,
        form part of a course, the performance in these will amount for not more than 50% of the course examination.<br>vii.
        Where a student passes a course, the student is not permitted to register or carry-over the same course hence the
        initial mark/grades obtained by the students is recorded for him or her.<br>viii The Coordinator shall produce requisite
        number of question papers for the examination in each course. and keep custody of same until they are collected by
        the invigilators.<br><b>6. Invigilation</b><br>i. Invigilation of examinations within each faculty shall be the responsibility
        of the University’s Central Examinations Committee. The Faculty’s Examinations Coordinator shall arrange for this
        and after the examination, will be required to submit appropriate report on the examinations to the Examination’s
        Committee.
        <br>ii. There shall be at least two invigilators for every examination hall. In a hall with more than 100 students,
        there shall be at least one additional invigilator for every additional 50 students.<br>iii. Supervisors and Invigilators
        must report at their respective examination halls not later than 20 minutes before the start of the examination.
        Central Examinations Supervisors shall collect the question papers and answer scripts from the Faculty’s Examinations
        Coordinator 30 minutes before the examination is due to start.<br>iv. Examinations shall normally start at the time
        stated on the timetable. Examination question papers are to be opened in the presence of candidates who should already
        be seated in their respective positions.<br>v. It is the duty of the invigilators, under the leadership of the Coordinator/Supervisors
        to ensure that;
        <br><i>a. Every candidate admitted into the examination room is in good standing as a student of Imo State University and has met the 75% attendance-at-lecture requirement indentified by the University;
                                    <br>b. Every candidate is reminded of the regulations governing the conduct of examinations;
                                    <br>c. The attendance register of candidates is completed during the examination and that all students involved in the examination shall sign in;
                                    <br>d. No student is allowed to enter the examination hall 30 minutes after the commencement of the examination;
                                    <br>e. No student may leave the hall earlier than 30 minutes to the end of the examination;
                                    <br>f. No candidate shall take examination question papers out of the examination room until the end of the examination;
                                    <br>g. Invigilators shall walk round the examination hall periodically;
                                    and h. Invigilators shall collect the scripts of each student before he or she leaves the examination room and ensure that he or she signs out.</i></p><br><br>
    <p><b>EXAMINATION MALPRACTICES</b><br><b>1. Definition:</b>Examination malpractices are unfair practices or infringement
        of Imo State University examinations. These include, but are not limited to, students copying from each other; students
        bringing into examination halls papers, books or other materials relevant for cheating purpose; all forms of communication
        between students during an examination; causing any form of disturbance; not observing the time regulations of the
        examination; and disobeying the invigilators.<br><b>2. Procedure for Dealing with Examination Malpractices:</b><br>i.
        When a student is caught or suspected to be involved in a case of examination malpractice, he or she should be allowed
        to complete the examination but he or she will be required by the supervisor to write a report or he/she may choose
        to write his/her own. A student who refuses to sign the supervisor’s report or to write his/her own will be guilty
        of an examination malpractice.<br>ii. The supervisor (s) shall submit a written report of the incident to the Faculty’s
        Examinations Coordinator or the Chairman of the Central Examinations Committee (CEC), within 24 hours after the examinations
        (for examinations taken from Monday – Thursday), and 36 hours for examinations taken on a Friday or Saturday.<br>iii.
        The Coordinator and or Chairman of the Central Examinations Committee shall pass on the report to the Registrar after
        the initial assessment within two weeks of the examinations. The Registrar shall refer the report to the Vice-Chancellor
        not later than a week after the receipt of the report.<br>iv. The Vice-Chancellor shall institute an investigation
        on the case. The investigation panel so instituted all have the right to invite written and/or oral evidence from
        the invigilator, supervisor, the student(s), and/or witness or witnesses concerned and any other(s), relevant to
        the case. <br>v. The Vic-Chancellor shall, thereafter, take appropriate action and report to Senate.<br><b>3. Disciplinary Measures</b><br>i.
        Normally, the disciplinary action for all proven cases of examination malpractices is expulsion from the University
        However, all case bordering on the miscellaneous offences shall be referred to a court of law. Whereas;
        <br>a) introduction of relevant notes to the examination hall, students copying from each other, or previous access
        to examination papers etc., shall attract expulsion from the university; and
        <br>b) invigilation offences such as aiding and/or abetting cheating, assaulting or attempting to assault the invigilator,
        causing any form of disturbance, not observing the time regulations of the examination, shall be punishable with
        one-year rustication.<br>ii. A student penalized under (i) above, shall have the right of appeal to Senate in the
        first instance and to Council if not satisfied with decision of Senate on his appeal.<br>iii. Any staff involved
        in examination malpractice shall be referred to the staff disciplinary committee.</p><br>
    <p><b>Grading And Review Of Scripts</b><br>
        <b>1. Grading</b><br> A lecturer shall normally mark all scripts for courses he taught or participated in teaching,
        using a marking scheme and determining the grade(s) to be awarded to each student. The scripts shall be submitted
        to the Disciplinary Committee of Examiners for final vetting. The same provision shall apply to oral and practical
        examinations.
        <br>
        <b>2. Review of Scripts</b><br> i) A student aggrieved by his/her grading shall, in the first instance, petition
        the Registrar through the Coordinator and Dean for a review of his script on payment of a non-refundable fee of N500.00,
        stating in detail the ground(s) for his application. The Registrar shall refer the petition to the Departmental Board
        through the Dean of the Faculty.<br> ii) On receipt of the petition, the Dean shall convene a meeting of the Faculty
        Board to consider the petition. If the Board is satisfied that a prima facie case has been made, permission should
        be sought from senate to review the script. A panel comprising two internal examiners not involved in the earlier
        marking, shall independently review the service of an external examiner specifically appointed for that purpose.
        The results of the review shall be sent to Senate for final determination along with original score and the recommendation
        of the Faculty Board.<br> iii) But, if the Faculty Board decides that a prime facie case has not been made, it shall
        state in detail the reason(s) for its decision and shall convey same to Senate through the Vice-Chancellor for disposal
        action.
        <br><br>
        <b>RESULTS, AWARDS, GRADUATION AND CONVOCATION</b><br><br>
        <b>1. Determination of Performance Level</b><br> i. A candidate’s raw score in an examination, usually expressed
        as a percentage, is converted into grades which are weighted by being assigned point values. The following ranges
        of marks and their corresponding grades and points weighing are to be used:<br></p>
    <p>
        <div class="container-fluid">
            <div class="page-header">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>RAW SCORE</th>
                                <th>GRADE EQUIVALENT</th>
                                <th>PERFORMANCE RATING</th>
                                <th>POINTS</th>
                                <th>CLASSIFICATION OF DEGREE</th>
                            </tr>
                        </thead>
                        <tr class="success">
                            <td>70%-100%</td>
                            <td>A</td>
                            <td>Distinction</td>
                            <td>5</td>
                            <td>4.50– 5.00 = 1st Class </td>
                        </tr>
                        <tr class="active">
                            <td>60%-69%</td>
                            <td>B</td>
                            <td>Very Good</td>
                            <td>4</td>
                            <td>3.50 – 4.49 = 2nd Class Upper</td>
                        </tr>
                        <tr class="info">
                            <td>50%-59%</td>
                            <td>C</td>
                            <td>Good</td>
                            <td>3</td>
                            <td>2-40-3.49 = 2nd Class Lower</td>
                        </tr>
                        <tr class="warning">
                            <td>45%-49%</td>
                            <td>D</td>
                            <td>Fair</td>
                            <td>2</td>
                            <td>1.50 – 2.39 = 3rd Class</td>
                        </tr>
                        <tr class="success">
                            <td>40%-44%</td>
                            <td>E</td>
                            <td>Pass</td>
                            <td>1</td>
                            <td>1.00 – 1.49 = Pass</td>
                        </tr>
                        <tr class="danger">
                            <td>0%-39%</td>
                            <td>F</td>
                            <td>Fail</td>
                            <td>0</td>
                            <td>0.00 – 0.99 = Fail </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </p>
    <p>(ii) “A”, “B”, “C”, “D”, “E”, are pass grades while “F” is a failure grade. It is the responsibility of the Departmental/Faculty
        Boards to determine how each lecturer within the department/faculty arrives at the grades.</p><br><br>
    <p><b>LIBRARY FACILITIES</b><br>
        <b>1. Department e-Library</b><br> The Department’s e-library is located within the Faculty of Social Sciences. Staff
        and Registered students of the department can assess the e-library only on weekdays. The following resources are
        available in the e-library:<br> i. Wireless internet ready desk-top and laptop computers all connected to top journal
        sites for specific academic works related to psychology.<br> ii. Specialized collection of classical and contemporary
        works in several fields of psychology;<br> iii. Local and international psychology journals and periodicals;<br>        iv. Psychological scales; and<br> v. Newspapers and magazines.<br>
        <b>2. Faculty Library</b><br> i) Specialized collection of classical and contemporary works in social sciences;<br>        ii) Local and International Social Science journals and periodicals; and<br> iii) Newspapers and magazines.<br>
        <b>3. University Library</b><br> i. Availability of a state-of-the-art e-library to enhance staff and student’s research<br>        ii. Collection of board range of reference materials (dictionaries, encyclopaedias, gazettes, biographies, and bibliographies);<br>        iii. Collection of books and document on all Fields of knowledge, covering all taught courses in the various disciplines
        in this university, for loan/borrowing to bona fide students of the university; and<br> iv. Collection of serials
        materials (local and international journals as well as proceedings of conferences and workshops for reading and consultation
        b’ bona fide students and staff).<br><br>
        <b>SEMINARS AND INTERACTIVE SESSIONS</b><br> 1. Departmental Seminars<br> 2. Faculty Seminars<br> 3. University-Organized
        Seminars and Workshops<br><br>
        <b>CONFERENCES AND WORKSHOPS</b><br> 1. Professional - Nigerian Psychology Association (NPA) and Nigerian Association
        of Clinical Psychologists (NACP).<br> 2. National and International - Organised and sponsored by Federal, State,
        and Local Governments of Nigeria; National Civil Society and Non-Governmental Organizations; as well as Regional
        (e.g. AU, EU) and International Organizations (e.g. UN, UNDP).<br>
    </p>
    </div>
    <br><br> {{>footer}}
</body>

</html>