<!doctype html>
<html>

<head>
    <title>Socket.IO Chat</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('document').ready(function () {
            $(function () {
                var socket = io();
                $('form').submit(function () {
                    socket.emit('chat message', $('#m').val());
                    $('#m').val('');
                    return false;
                });
                socket.on('chat message', function (msg) {
                    $('#messages').append($('<li>').text(msg));

                });
            });
        });
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        #m {
            border: 0;
            padding: 10px;
            width: 85%;
            margin-right: .5%;
        }


        #messages {
            list-style-type: circle;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <h2>{{{message}}}</h2>
    <br>
    <ul id="messages"></ul>
    <form action="">
        <input type="text" id="m" name="m" placeholder="Type a message" autocomplete="off" />
        <input type="submit" class="btn btn-primary" value="Send" />
    </form>
</body>

</html>