<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <br><br>
            <h1>Oops!!!...</h1>
            <br>
            <h2>Error: {{message}}</h2>
            <br><br>
            <p><b>Please Ensure that you: </b></p>
            <br>
            <ol>
                <li>Are Connected to the Internet...</li>
                <br>
                <li>Are a Registered Member of this website...</li>
                <br>
                <li>Are Authorized to view the page</li>
                <br>
            </ol>
        </div>
    </div>
</div>