<!DOCTYPE html>
<html lang="en-US">

<head>
   {{>head}}
</head>

<body style="background-color:lightpink">
    {{>body}}
            
        <div class="main">
            <p> The study of <i>behavior</i> has always been a field that has sprung up controversies and <b>psychology</b> has been at the fore-front of such study.This controversies is because of the unpredictable nature of man due to various forces(hereditary
                        & environmental) acting upon such <strong>behavior</strong>. You can find more on this subject on <a href="#">google</a>. </p>
        </div>
    {{>footer}}

</body>

</html>