<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>body}}
    <h2>Psychology as a Discipline</h2>
    <p>The knowledge of Psychology leads to peaceful co-existence among different individuals in a society.Since the world is
        turning into a global community,Psychology seeks to educate man about the similarities they share with others who
        where bred in a different ethnicity and race.</p>
    <p><strong>Psychology</strong> is the science of behavior and mind, including conscious and unconscious phenomena, as well
        as thought. It is an academic discipline of immense scope and diverse interests that, when taken together, seek an
        understanding of the emergent properties of brains, and all the variety of epiphenomena they manifest. As a social
        science it aims to understand individuals and groups by establishing general principles and researching specific
        cases.
    </p>
    <p> The study of <i>behavior</i> has always been a field that has sprung up controversies and <b>psychology</b> has been
        at the fore-front of such study.This controversies is because of the unpredictable nature of man due to various forces(hereditary
        & environmental) acting upon such <strong>behavior</strong>. You can find more on this subject on <a href="https://www.wikipedia.org/wiki/Psychology"
            target="blank">google</a>. </p>
    <br> {{>footer}}
</body>

</html>