<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>coursesbody}}
    <br>
    <div class="col-sm-12">
        <h3>*Accessing Psychology Materials Just Got Easier*</h3>
        <br><br>
        <div class="btn-group">
            <a href="buyBooks" type="button" class="btn btn-info disabled">Buy a book</a>
        </div>
        <br>
        <p>This option allows you to make a purchase of any textbook that is available on E-library. It also allows your name/mat.number
            to be registered online incase of verification by your lecturer.</p><br><br>
        <div class="btn-group">
            <a href="e-library" type="button" class="btn btn-success disabled">E-Library</a>
        </div>
        <br>
        <p>The e-library is an online library where all your purchased books can be accessed anywhere,anytime and in your own
            convenience. The e-library was added as a result of students complaints(they needed more flexibility) in accessing
            their textbook.But with the e-library,exam preparation just got easier.</p><br><br>
        <div class="btn-group">
            <a href="projectTopics" type="button" class="btn btn-warning disabled">Project Topics</a>
        </div>
        <br>
        <p>The project topic button opens an opportunity for registered users to go through different project topics that has
            been conducted by passed Imsu Psychology Students. Most students first idea of a project is when they're in their
            400level, which makes it harder for them to assimilate the concept fully. But with the project-topic column,
            the students have a head-start.</p><br><br>
        <div class="btn-group">
            <a href="addArticle" type="buton" class="btn btn-danger disabled">Add an Article</a>
        </div>
        <br>
        <p>The add an article column allows both students and staffs to post research results and experimental findings to their
            fellow colleagues because this is the final stage of every experiment...</p>
    </div>
    <br><br> {{>footer}}
</body>

</html>