<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>coursesbody}}
    <br>
    <br>
    <h2>Please Do Not Login Yet!!</h2>
    <h3>{{working}}</h3>
    <br><br> {{>footer}}
</body>

</html>