<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body style="background-color:lightpink">
    {{>body}}

        <p> There are no upcoming Events, But any information will be updated here once an Event comes up...<br>
         Kindly click on <a href="https://www.wikipedia.org/wiki/Psychology" target="blank">psychology</a> to read more on the course.</p>

    <br><br>
    {{>footer}}
    </div>
</body>

</html>