<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>body}}
    <p> There are no upcoming Events, But any information will be updated here once an Event comes up...<br> Kindly click on
        <a href="https://www.imsu.edu.ng" target="blank">Imsu Website</a> to check on the general school news and other informations.</p>
    <br><br> {{>footer}}
</body>

</html>