<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>body}}
    <p>Psychology Seminar: A One day Positive Behavioral Change</p>
    <p> Kindly click on
        <a href="https://www.imsu.edu.ng" target="blank">Imsu Website</a> to check on the general school news and other informations.
    </p>
    <br><br> {{>footer}}
</body>

</html>