<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>coursesbody}}
    <br><br>
    <h1>Staff SignUp</h1>
    <h2>Please Do Not Signup Yet!!</h2>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-5">
                <form class="form group" action="/" method="POST" autocomplete="on">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" class="form-control" value="" autocomplete="on" placeholder="Email.com" required>
                    <br>
                    <label for="surname">Surname:</label>
                    <input type="text" name="surname" class="form-control" value="" autocomplete="on" placeholder="surname" required>
                    <br>
                    <label for="firstname">First name:</label>
                    <input type="text" name="firstname" class="form-control" value="" autocomplete="on" placeholder="first name" required>
                    <br>
                    <label for="mat_no">Staff_Id:</label>
                    <input type="text" name="staff_id" class="form-control" value="" size="10" required>
                    <br>
                    <label for="gender">Gender:</label>
                    <input type="radio" name="gender" value="male"> Male
                    <input type="radio" name="gender" value="female" checked> Female<br>
                    <br>
                    <label for="phone">Phone Number:</label>
                    <input type="tel" name="phone" class="form-control" value="" placeholder="" required>
                    <br>
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" value="">
                    <br>
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                </form>
            </nav>
            <nav class="col-md-5">
                <p></p>
            </nav>
        </div>
    </div>
    <br> {{>footer}}
</body>

</html>