<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>coursesbody}}
    <br>
    <h1>Students SignUp</h1>
    <nav class="col-sm-10">
        <form class="form group" action="" method="POST">
            <label for="email">E-mail:</label>
            <input type="email" name="email" class="form-control" autocomplete="on" placeholder="Email.com" required>
            <br>
            <label for="surname">Surname:</label>
            <input type="text" name="surname" class="form-control" autocomplete="on" placeholder="surname" required>
            <br>
            <label for="firstname">First name:</label>
            <input type="text" name="firstname" class="form-control" autocomplete="on" placeholder="first name" required>
            <br>
            <label for="matnumber">Mat Number:</label>
            <input type="text" name="matnumber" class="form-control" maxlength="8" placeholder="1234567" required>
            <br>
            <label for="level">Current level:</label>
            <input type="text" name="level" class="form-control" placeholder="100" required>
            <br>
            <label for="gender">Gender:</label>
            <input type="text" name="gender" class="form-control" placeholder="male/female" required>
            <br>
            <label for="phone">Phone Number:</label>
            <input type="tel" name="phone" class="form-control" maxlength="11" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" required>
            <br>
            <input type="submit" class="btn btn-primary" value="Sign Up">
        </form>
        <p></p>
    </nav>
    <br> {{>footer}}
</body>

</html>