<br>
<h4><b>
        <center>ADD TIME TABLE</center>
    </b>
</h4>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6" id="kilo">
            <form class="form-group" action="" method="POST">
                <div>
                    <label for="level"><b>LEVEL:</b></label>
                    <select name="level" class="form-control" required>
                        <option value="{{timetable.level}}">{{timetable.level}} LEVEL</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="day"><b>DAY:</b></label>
                    <select name="day" class="form-control" required>
                        <option value="monday">MONDAY</option>
                        <option value="tuesday">TUESDAY</option>
                        <option value="wednesday">WEDNESDAY</option>
                        <option value="thursday">THURSDAY</option>
                        <option value="friday">FRIDAY</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="time"><b>TIME:</b></label>
                    <select name="time" class="form-control" required>
                        <option value="8">8AM - 10AM</option>
                        <option value="10">10AM - 12PM</option>
                        <option value="12">12PM - 2PM</option>
                        <option value="2">2PM - 4PM</option>
                    </select>
                </div>
                <br>
                <div>
                    <label for="course"><b>COURSE:</b></label>
                    <select name="course" class="form-control" required>
                        <option value="FREE">FREE</option>
                        {{#each course}}
                            <option value="{{this.coursecode}}">{{this.coursetitle}}</option>
                        {{/each}}
                    </select>
                </div>
                <br><br>
                <button type="submit" class="btn btn-success"><b><span class="fa fa-cloud-upload"></span> ADD</b></button>
            </form>
        </div>
    </div>
</div>
<br><br>