<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>lecbody}}
    <br>
    <p>You can add an Article / Research findings ....This would be verified by the admin of the site and if found productive,
        would be added to the various articles on the website. And a star would be given to the Student for every article
        that is verified.
    </p>
    <p>You can add your article below</p>
    <br>
    <form>
        <label for="topic">Topic:</label>
        <input type="text" name="topic" placeholder="Article Topic" />
        <br>
        <label for="author">Author:</label>
        <input type="author" name="author" placeholder="Author" />
        <textarea type="text">

        </textarea>
    </form>
    <br>
    <div ng-app="">
        <p>Name: <input type="text" ng-model="name"></p>
        <p>{{name}}</p>
    </div>
    <footer>{{>footer}}</footer><br>
</body>

</html>