<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    {{>lecbody}}
    <br>
    <p><a href="/cj_topics.pdf">FILE</a></p>
    <p><a href="/Exam_anxiety.pdf">Exam_Anxiety</a></p>
    <br>
    <footer>{{>footer}}</footer><br>
</body>

</html>