<!doctype html>
<html>

<head>
    {{>head}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('document').ready(function () {
            $(function () {
                var socket = io();
                $('#formy').click(function () {
                    $('#comment').val();
                    $('#name').val();

                    socket.emit('chat message', $('#comment').val());

                    $('#comment').val('');
                    return false;
                });
                socket.on('chat message', addMessages);
            });

            function addMessages(msg) {
                $('#messages').append($('<p></p>').html(msg + '<br>'));
            };

            function setMessages(msg) {
                $('#dennis').append($('<div class="card"></div>')).html(msg)
            }

            function getMessages() {
                $.get('http://localhost:4000/studentgetfullnews/{{newspaper.id}}', function (data) {
                    data.forEach(addMessages);
                });
            };
            function sendMessages(message) {
                $.post('http://localhost:4000/studentgetfullnews/{{newspaper.id}}', message)
            };
        });
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        #m {
            border: 0;
            padding: 10px;
            width: 100%;
            margin-right: .5%;
        }


        #messages {
            list-style-type: circle;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <h2>{{{message}}}</h2>
    <br>
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item" title="Homepage">
            <a href="/" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        <li class="dropdown" title="Clicks to see Available courses">
            <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" href="#">Courses
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="100level">100level Courses</a></li>
                <li><a href="200level">200level Courses</a></li>
                <li><a href="300level">300level Courses</a></li>
                <li><a href="400level">400level Courses</a></li>
            </ul>
        </li>
        <li class="nav-item" title="Click to see upcoming events">
            <a href="news" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-envelop"></span>News
                <span class="badge">1</span></a></li>
    </ul>
    <ul id="messages"></ul>
    <form action="">
        <input type="text" id="m" name="m" placeholder="Type a message" autocomplete="off" />
        <input type="submit" class="btn btn-primary" value="Send" />
    </form>
</body>

</html>