<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>lecbody}}
    <br>
    <h2>*Origin of NAPS*</h2>
    <br>
    <h4>
        <center><b>Introduction:</b></center>
    </h4>
    <br><br>
    <p> The department of psychology, Imo state University, Owerri, started in 1995/1996 academic session with a student population
        of 43 under the headship of Mrs. Chioma Joyce Onukogu. The student’s population has gradually increased over the
        years. The department graduated its first batch of students in the 1998/1999 session. The department runs a four
        year academic program leading to the award of a Bachelor of Science (B.Sc.) Honours degree in Psychology. Philosophy
        By divine mandate, one of man’s major duties on earth is to conquer and advance the earth.<br> The human person to
        carrying out this seemingly difficult duty must understand himself, his environment and others around him. Man who
        is made up of the spirit, body and soul is ruled by his behaviour. His behaviour is shaped by hereditary, biological
        and environmental factors and, of course, these variables individually and interactively govern who he develops to
        be and his general and daily conducts. Psychology’s main aim is to understand man’s behaviour and how his environment
        influences him. In doing this, Psychologists concentrate on behaviour modification, control and prevention of unwanted
        behaviours, modelling of acceptable behaviours and indeed, corporate behaviour existence of human beings which yields
        community, national and global developments.</p>
    <br> {{>footer}}
</body>

</html>