<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>lecbody}}
    <br>
    <ul>
        <li>
            <p><a href="/images/timetable.jpg">2017/2018 Time-Table is Out!!</a></p>
        </li>
        <br>
        <li>
            <p><a href="/images/timetable2.jpg">Continuation of Exam Time-Table</a></p>
        </li>
        <br>
        <li>
            <p> Kindly click on
                <a href="https://www.imsu.edu.ng" target="blank">Imsu Website</a> to check on the general school news and
                other informations.
            </p>
        </li>
    </ul>
    <br><br> {{>footer}}
</body>

</html>