<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>lecbody}}
    <br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="../images/drizzys.jpg" alt="NAPS image" class="rounded" width="100%" height="200" />
                </div>
                <div class="col-sm-10">
                    <p class="grace"><a href="/number">Check Number of Students</a></p>
                    <br>
                    <p>This column of news is for getting the number of students registered in the naps website and for the
                        admin of the site to find out how they are really using the webapp.But it can also be used for tracking
                        the activities of the users of such website that is in the neighbourhood.</p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="./images/timetable.jpg" alt="NAPS image" class="rounded" width="100%" height="200" />
                </div>
                <div class="col-sm-10">
                    <p><a href="/images/timetable.jpg">2017/2018 Time-Table is Out!!</a></p>
                    <br>
                    <p>
                        The Exam time table for the 2017/2018 session for the second semester period is out , and students can check to know when
                        their exams commences..The time table includes all the courses for the Faculty of Social Sciences.
                        Any collision on courses involving students writing both carry over and spill over ,should inform
                        theier staff adviser before two weeks prior to the commencement of the first paper or he/she would
                        be forced to forfeit such exam..
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="./images/timetable.jpg" alt="NAPS image" class="rounded" width="100%" height="200" />
                </div>
                <div class="col-sm-10">
                    <p><a href="/images/timetable2.jpg">2017/2018 Time-Table Part Two</a></p>
                    <br>
                    <p>
                        This is the second part of the exam time table, and it includes other courses that would be taken during the exam period
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li>
            <p> Kindly click on
                <a href="https://www.imsu.edu.ng" target="blank">Imsu Website</a> to check on the general school news and
                other informations.
            </p>
        </li>
    </ul>
    <br><br> {{>footer}}
</body>

</html>