<br>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-12">
            <div class="page-header">
                <h4><b>
                        <center>COURSES FOR 100LEVEL PSYCHOLOGY</center>
                    </b></h4>
                <br><br>
                <h5><b>
                        <center>FIRST SEMESTER COURSES</center>
                    </b></h5>
                <div class="dropdown" style="float:right">
                    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">search</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/100level">100 LEVEL</a>
                        <a class="dropdown-item" href="/200level">200 LEVEL</a>
                        <a class="dropdown-item" href="/300level">300 LEVEL</a>
                        <a class="dropdown-item" href="/400level">400 LEVEL</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive-sm">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th>UNIT/S</th>
                        </tr>
                    </thead>
                    <tr title="(1) Definitions  (2) Brief history of psychology  (3) Goals of psychology (4) Fields of psychology as a scientific discipline  (5) Methods of psychology  (6) Psychology in human growth and development  (7) Relationship and differences between psychology
                        and other disciplines  (8) Current issues in modern psychology - Human nature  (9) Nature versus nurture  (10) Mind versus body.">
                        <td>PSY 101</td>
                        <td>Introductory to Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr title="(1) Definition of Learning  (2) Types of learning: Classical conditioning, Operant Conditioning, Social Learning, etc. (3) Variables in human Learning  (4) Learned helplessness  (5) The Concept of Punishment Measurement of Learning  (6) Practicals.">
                        <td>PSY 103</td>
                        <td>Learning Processes 1</td>
                        <td>2</td>
                    </tr>
                    <tr title="(1) The need to study quantitative methods in psychology  (2) Meaning of statistics and parameters  (3) Types of measurement; nominal, ordinal, interval and ratio; (4) Frequency distribution and their uses; (5) Measures of central tendency; (6) Measures of dispersion. (7) Practical exercises and assignments will feature throughout.">
                        <td>PSY 111</td>
                        <td>Quantitative Methods in Psychology 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 101</td>
                        <td>Use of English 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 103</td>
                        <td>Introduction to Logic and Philosophy 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 105</td>
                        <td>Citizen Education</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>SOC 101</td>
                        <td>Introduction to Sociology 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>BIO 101</td>
                        <td>General Biology 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center"><b>ELECTIVE: ANY TWO</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>POS 101</td>
                        <td>Government and Public Administration 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>FRN 101</td>
                        <td>Elements of French 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>MAC 101</td>
                        <td>Introduction to Mass Communication 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>ECO 101</td>
                        <td>Elements of Economics 1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><b>TOTAL UNITS</b></td>
                        <td></td>
                        <td><b>24</b></td>
                    </tr>
                </table>
                <br><br>
                <h5><b>
                        <center>SECOND SEMESTER COURSES</center>
                    </b></h5>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th>UNITS</th>
                        </tr>
                    </thead>
                    <tr title="Emphasis is on the biological and environmental basis of behaviour. Specific topics include (neurons, brain, endocrine system etc) and behaviour...intelligence.. perception...emotion etc.">
                        <td>PSY 102</td>
                        <td>Determinants of Behavior</td>
                        <td>2</td>
                    </tr>
                    <tr title="Theories of learning; Memory Processes and Structures; Forgetting; Complex learning: learning set or learning-to-learn; Insight; Brain substrates of learning; Memory and Artificial Intelligence; Practicals.">
                        <td>PSY 104</td>
                        <td>Learning Processes 2</td>
                        <td>2</td>
                    </tr>
                    <tr title="Applications of quantitative methods in psychological research; Difference between Parametric and Non-Parametric Statistics; correlation coefficients; probability; The t-test; the f-test; introduction to analysis of variance (ANOVA). Practical exercises and assignments will be a major feature.">
                        <td>PSY 112</td>
                        <td>Quantitative Methods in Psychology 2</td>
                        <td>2</td>
                    </tr>
                    <tr title="The Basic Nature of Research; History of Experimental Psychology, Major Founding Fathers; Theory; Hypothesis;  Variables; Measurement; Operationalization; Participants in Experiments; Randomization; Selection; Assignment; Population and Sampling; Related and Unrelated Designs; Matched-Pairs Design; Factorial Designs; Reliability and Validity; Steps in conducting Experimental investigation; Statistical Analysis - Descriptive Statistics, Inferential Statistics, Statistical Power.">
                        <td>PSY 122</td>
                        <td>Basic Concepts in Experimental Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 102</td>
                        <td>Use of English 2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 104</td>
                        <td>History and Philosophy of Science</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 106</td>
                        <td>Introduction to Computer</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>GST 108</td>
                        <td>Enterpreneurship Development</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>SOC 102</td>
                        <td>Introduction to sociology 2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>BIO 102</td>
                        <td>General Biology 2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="text-align:center"><b>ELECTIVE: ANY TWO</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>POS 104</td>
                        <td>Government and Public Administrations</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>FRN 102</td>
                        <td>Elements of French 2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>MAC 102</td>
                        <td>Introduction to Mass Communication 2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>ECO 102</td>
                        <td>Elements of Economics 2</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><b>TOTAL UNITS</b></td>
                        <td></td>
                        <td><b>24</b></td>
                    </tr>
                </table>
            </div>
        </nav>
    </div>
</div>