<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <nav class="col-sm-12">
        <div class="page-header">
            <h4><b>
                    <center>COURSES FOR 200LEVEL PSYCHOLOGY</center>
                </b></h4>
            <br>
            <h5><b>
                    <center>FIRST SEMESTER COURSES</center>
                </b></h5>
            <div class="dropdown" style="float:right">
                <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">search</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/100level">100 LEVEL</a>
                    <a class="dropdown-item" href="/200level">200 LEVEL</a>
                    <a class="dropdown-item" href="/300level">300 LEVEL</a>
                    <a class="dropdown-item" href="/400level">400 LEVEL</a>
                </div>
            </div>
            <br>
        </div>
        <div class="table-responsive-sm">
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>COURSE CODE</th>
                        <th>COURSE TITLE</th>
                        <th>UNIT/S</th>
                    </tr>
                </thead>
                <tr title="Historical introduction to experimental psychology; Methods of inquiry in psychology: introspection, observation, clinical/case studies; survey, field study, and laboratory experiments; Ethical considerations in psychological research; Practicals.">
                    <td>PSY 221</td>
                    <td>General Experimental Psychology</td>
                    <td>2</td>
                </tr>
                <tr title="History and Scope of Physiological Psychology; the Nervous System – Basic Principles, Organisation and Functions; Methods of Physiological Psychology: Electrical Stimulation and Recording, Chemical Stimulation and Recording, Lesions; Physical Destruction of Brain Tissues; Non-Invasive Procedures.">
                    <td>PSY 231</td>
                    <td>Physiological Psychology 1</td>
                    <td>2</td>
                </tr>
                <tr title="Definitions of social psychology; Social psychological assumptions; Social psychology and other fields in social sciences; Socialization as the root of social behaviour; Attitude: Definition, Formation, Functions and Components.">
                    <td>PSY 241</td>
                    <td>Introduction to Social Psychology</td>
                    <td>2</td>
                </tr>
                <tr title="The Basis for Ethnicity; Positive and Negative Aspects of ethnicity; Methods of reducing adverse effects of ethnicity as they apply to ethnic group relations in Nigeria; Methods, Problems and Empirical Data on Psychological Investigations in the area of Ethnicity, Race and Culture and their relation to Personality.">
                    <td>PSY 243</td>
                    <td>Psychology of Ethnicity and Ethnic Groups</td>
                    <td>2</td>
                </tr>
                <tr title="History and Theories of Child Development; Human Growth and Development from Conception to Adolescence; the Mechanism of Heredity; Determinants of Development; Cognitive, Language, and Personality Development in Infancy, early childhood and later childhood; Physical and Psychological Changes at Puberty; the Meaning of Identity in Adolescence and Adolescent’s Behavioural Problems.">
                    <td>PSY 251</td>
                    <td>Developmental Psy: Childhood and Adolescence</td>
                    <td>2</td>
                </tr>
                <tr title="Definitions and Problems of Personality Definitions; Personality Types; Theories of Personality – Psychodynamic, Psychosocial, Behavioural, Humanistic, Gestalt, Psychometric or trait theories.">
                    <td>Psy 261</td>
                    <td>Psychology of Personality</td>
                    <td>2</td>
                </tr>
                <tr title="Philosophical antecedents of modern psychology; the rise of the research spirit; beginnings of experimentation - Pavlov, Weber, Fechner, Muller, etc; Physiological Psychology - Helmholtz, Hering, etc; Dualism and Monism; Twentieth Century Systems - Structuralism, Functionalism, Behaviourism; Gestalt Psychology; Freud and the Post/Neo Freudians; Humanistic Psychology; Phenomenological and Existential Approaches; African Orientations - A possible Synthesis.">
                    <td>Psy 271</td>
                    <td>History and System</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>MGT 101</td>
                    <td>Introduction to Management</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>GST 223</td>
                    <td>Enterpreneurship Development 2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>ELECTIVES: ANY TWO</b></td>
                    <td></td>
                </tr>
                <tr>
                    <td>POS 221</td>
                    <td>Nigeria Government and Politics</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>SOC 241</td>
                    <td>Sociology of the Family</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>POS 201</td>
                    <td>Introduction to Public Administration</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>ECO 221</td>
                    <td>Structure of Nigerian Economy</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>SOC 201</td>
                    <td>Social Thought</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><b>TOTAL UNITS</b></td>
                    <td></td>
                    <td><b>22</b></td>
                </tr>
            </table>
            <br>
            <h5><b>
                    <center>SECOND SEMESTER COURSES</center>
                </b></h5>
            <br>
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>COURSE CODE</th>
                        <th>COURSE TITLE</th>
                        <th>UNIT/S</th>
                    </tr>
                </thead>
                <tr title="Steps and issues involved in designing an experiment; hints on running experiments; Demonstrations of a number of experiments in class; choosing a research topic; writing psychological reports, conducting analysis and reporting of specific experiments. Emphasis will be placed on the students designing, undertaking, analyzing and reporting their own experiments as practicals. ">
                    <td>PSY 222</td>
                    <td>General Experimental Psychology 2</td>
                    <td>2</td>
                </tr>
                <tr title="Concepts and Scope of Experimental Designs; Types of Designs in common use – strengths, weaknesses and applications; Relationship between Designs and Analysis of Data; Control Procedures; Research report format; Practical Exercises and Assignments.">
                    <td>PSY 224</td>
                    <td>Experimental Designs</td>
                    <td>2</td>
                </tr>
                <tr title="Role of the Genes and the Evolutionary Process in Behaviour; the Internal Environment and Behaviour; the Metabolic Process; Endocrine Glands and Hormones; Physiological Homeostasis.">
                    <td>PSY 232</td>
                    <td>Physiological Psychology 2</td>
                    <td>2</td>
                </tr>
                <tr title="Theories and Techniques of Attitude Change; Attitude Measurement; Methods of Research in Social Psychology; Leadership and Leadership Effectiveness; Achievement Motivation; Obedience and Compliance.">
                    <td>PSY 242</td>
                    <td>Social Psychology</td>
                    <td>2</td>
                </tr>
                <tr title="The Sensory System; Detailed Examination of the Chemical, Visual, Auditory and Somatic Senses as they relate to psychological processes; Motor Control and Sensory Motor Integration – with focus on the response systems.">
                    <td>PSY 234</td>
                    <td>PsychoBiology</td>
                    <td>2</td>
                </tr>
                <tr title="Changes and Adjustment Demands from Age of Maturity till the Life Cycle Ends in Death; Theories and Researches in Adult Development, Early Adulthood, Midlife Transition, Later Adulthood; Biological, Intellectual and Personality aspects of Aging, Dying and Bereavement.">
                    <td>PSY 252</td>
                    <td>Deveopmental Psy: Adulthood and Ageing</td>
                    <td>2</td>
                </tr>
                <tr title="Examination of the History and Theories of Community Mental Health Movements which gave rise to Community Psychology; Review of the major purposes of Community Psychology, with emphasis on prevention of mental illness, and the relationship between mental illness and the social environment especially in societies undergoing rapid social change, such as Nigeria; Relationship/Differences between Community Psychology and Community Medicine.">
                    <td>PSY 254</td>
                    <td>Community Psychology</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>PSY 246</td>
                    <td>Principles of Criminology and Juvenile Delinquency</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>GST 222</td>
                    <td>Peace and Conflict Resolution</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>CMP 202</td>
                    <td>Introduction to Computer</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center"><b>ELECTIVE: ANY TWO</b></td>
                </tr>
                <tr>
                    <td>POS 222</td>
                    <td>Nigeria Government and Politics 2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>ECO 222</td>
                    <td>Structure of Nigeria Economy</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>MAC 214</td>
                    <td>Principles of Public Relations</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>SOC 202</td>
                    <td>Social Change</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td><b>TOTAL UNITS</b></td>
                    <td></td>
                    <td><b>24</b></td>
                </tr>
            </table>
        </div>
    </nav>
    </div>
    <footer>{{>footer}}</footer>
</body>

</html>