<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-12">
                <div class="page-header">
                    <h2><b><center>COURSES FOR 300LEVEL PSYCHOLOGY</center></b></h2>
                    <br><br>
                    <h3><b><center>FIRST SEMESTER COURSES</center></b></h3>
                    <br>
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>COURSE CODE</th>
                                    <th>COURSE TITLE</th>
                                    <th>UNIT/S</th>
                                </tr>
                            </thead>
                            <tr title="Advanced Concepts in Psychological Statistical Analyses; Basic principles for selecting tests;  Non parametric Alternatives for analysis – Wilcoxon Tests, Mann Whitney U-test, Friedman test, Kruskal Walis Test, Pages L test, Jonckneere Trend test, Chi-Square tests; Parametric tests – t-test">
                                <td>PSY 311</td>
                                <td>Statistics Methods in Psychology 1</td>
                                <td>2</td>
                            </tr>
                            <tr title="The nature and scope of psychological research; Steps in planning of research; Constructs, Concepts, Theory and hypothesis, Types of Psychological Research (Basic and Applied research); the concept and methods of control in psychological research, Citation and Referencing (emphasis on APA style); Ethics of psychological research.">
                                <td>PSY 313</td>
                                <td>Research Methods in Psychology 1</td>
                                <td>2</td>
                            </tr>
                            <tr title="Personnel psychology in perspective; psychological aspects of personnel management; Development and evaluation of selection techniques; job analysis and placement; the selection process; training of personnel; analysis of criteria; job performance and evaluation; Common factors in the selection and training of industrial and professional personnel; the role of the interview; problems of selection in developing countries.">
                                <td>PSY 341</td>
                                <td>Personnel Psychology</td>
                                <td>2</td>
                            </tr>
                            <tr title="The concept and scope and history of industrial psychology; the concept of work, individual differences and its industrial implications,; vocational choice, vocational counselling and vocational guidance; Ergonomics; industrial accidents and safety.">
                                <td>PSY 343</td>
                                <td>Industrial Psychology</td>
                                <td>2</td>
                            </tr>
                            <tr title="This course is designed to introduce the student to the phenomenon of abnormal behaviour and the different conceptualizations of psychopathology. Students will be exposed to the theories of behavioural abnormality. The theoretical approaches, etiology, assessment and treatment of anxiety, somatoform and dissociative disorders, organic mental disorders, schizophrenic disorders and affective disorders will be discussed.">
                                <td>PSY 351</td>
                                <td>Clinical/Abnormal Psychology 1</td>
                                <td>2</td>
                            </tr>
                            <tr title="Introduction to Counselling Psychology: the concept of counselling Psychology, origin and development, counselling Psychology and other helping professions, counselling programmes and services in Nigeria. Therapeutic counselling :counselling relationship , theories of counselling psychology, approaches to Counselling Psychology (individual , group , etc.), roles /specialties in counselling Psychology, characteristics of a good counsellor , lifelong learning and personal adjustment.">
                                <td>PSY 361</td>
                                <td>Counselling Psychology</td>
                                <td>2</td>
                            </tr>
                            <tr title="Definitions and dimensions of the environment; Major assumptions about the environment; Theories of environmental psychology -  cognition, Gestalt, Topological or field theory; Territoriality - experimental studies of territories, personal space and privacy; Problems of conservation of natural resources; Environmental pollution; Methods of environmental assessment; Critical issues of man as part of an ecological system.">
                                <td>PSY 381</td>
                                <td>Environmental Psychology</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>CMP 301</td>
                                <td>Computer Application</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>ELECTIVE</b></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>SOC 403</td>
                                <td>Demography</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td><b>TOTAL UNITS</b></td>
                                <td></td>
                                <td><b>18</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </nav>
        </div>
        <br>
        <h3><b><center>SECOND SEMESTER COURSES</center></b></h3>
        <br>
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>COURSE CODE</th>
                    <th>COURSE TITLE</th>
                    <th>UNIT/S</th>
                </tr>
            </thead>
            <tr title="Emphasis will be placed on cognitive processes such as pattern recognition, attention, memory, mental imagery, language, thinking, concept formation, problem solving and artificial intelligence, and computer simulation. Also, the influence of culture on cognition will be discussed.">
                <td>PSY 302</td>
                <td>Cognitive Psychology</td>
                <td>2</td>
            </tr>
            <tr title="Advanced statistical methods as applied to psychology, including parametric and non parametric tests of significance – Correlation Coefficients (Spearman and Pearson), Analyses of Variance (One-Way, Two-Way); Complex Factorial Designs; Randomized Block Designs, Repeated Measures Design, Introduction to Simple Linear Regression; Multiple Regression">
                <td>PSY 312</td>
                <td>Statistics Methods in Psychology 2</td>
                <td>2</td>
            </tr>
            <tr title="Emphasis will be on types of research-experimental quasi-experimental and non experimental research designs; writing of research proposals; writing project report; the use and application of statistics in psychological research; interpretation of research results. ">
                <td>PSY 314</td>
                <td>Research Methods in Psychology 2</td>
                <td>2</td>
            </tr>
            <tr title="Types of experimental design in common use and their application (randomised blocked design, matched subject design, and repeated measures design: Latin square, factorial designs, independent group design); experimental designs and the selection of suitable statistical analytic tools; Practical exercises.">
                <td>PSY 322</td>
                <td>Advanced Experimental Designs</td>
                <td>2</td>
            </tr>
            <tr title="Physical bases of sensation with emphasis on human visual, chemical and auditory senses; the distinction/relation between sensation and perception; the sense of balance, somatic sense and psychophysics; practical exercises.">
                <td>PSY 336</td>
                <td>Sensory Processes</td>
                <td>2</td>
            </tr>
            <tr title="Brief history causes, classification, degrees/levels and diagnoses of retardation; the retarded in the family and society societal attitudes towards mental retardation; psychological disturbances in mental retardation; Learning and education of the mentally retarded; Treatment, management, training, rehabilitation and prevention; the Nigerian perspective in mental retardation; Conceptions and misconceptions about mental retardation and their cultural relativity; Practicals in the form of case studies.">
                <td>PSY 352</td>
                <td>Clinical/Abnormal Psychology 2</td>
                <td>2</td>
            </tr>
            <tr title="The nature and dynamics of substance abuse, Basic aspects and pharmacology of psychotropic drugs; Drugs of addition and abuse – alcohol, opiates, synthetic analgesics, and morphine – like drugs, barbiturates, cocaine, cannabis sativa (Marijuana; psycho-stimulants; amphetamines), hallucinogens, tobacco, etc;  stages of alcohol dependency; diagnosis and management of drug dependence; rehabilitation; Drug legislation and social action; Practicals.">
                <td>PSY 354</td>
                <td>Psychology of Substance Abuse</td>
                <td>2</td>
            </tr>
            <tr title="Concept and scope of personality assessment; History, objectives, principles, methods and problems of personality assessment; Basic factors in selecting personality assessment instruments for use (validity and reliability); Objective personality tests and detailed description of some; such as MMPI, California Personality Inventory; Projective tests - their uses and detailed descriptions of some, such as: Rorschach ink-blot Test. Holtzman Ink blot Test; Thematic Apperception Test.">
                <td>PSY 364</td>
                <td>Personality Assessment</td>
                <td>2</td>
            </tr>
            <tr>
                <td></td>
                <td><b>ELECTIVE: ONE</b></td>
                <td></td>
            </tr>
            <tr title="Introduction to personality of politicians, power and politics; The context and structure of political beliefs and attitudes, the processing of political information and other factors influence judgements and decision making psychological constructs which influence political behaviour; Major orienting approaches in the formation and maintenance of political beliefs and activities; psychology of non-elected politicians; Leadership, conflict, aggression, violence, revolution, war; Election and electoral practices and agencies; African regional politics and international relations.">
                <td>PSY 342</td>
                <td>Political psychology</td>
                <td>2</td>
            </tr>
            <tr title="Psychological concept of culture; sociological view of culture; Anthropological perspective on culture; the nature-nurture issues and the rise of cross- cultural psychology; the need for cross-cultural psychology; Comparative studies of the influence of culture on perception, thinking and socio-cultural developments; Research methods and problems in cross-cultural psychology.">
                <td>PSY 382</td>
                <td>Cross-Cultural Psychology</td>
                <td>2</td>
            </tr>
            <tr>
                <td><b>TOTAL UNITS</b></td>
                <td></td>
                <td><b>18</b></td>
            </tr>
        </table>
    </div>
    </div>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>