<br>
<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-12">
            <div class="page-header">
                <h5><b>
                        COURSES FOR 400LEVEL PSYCHOLOGY
                    </b></h5>
                <br><br>
                <h6><b>
                        FIRST SEMESTER COURSES
                    </b></h6>
                <div class="dropdown" style="float:right">
                    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">search</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/100level">100 LEVEL</a>
                        <a class="dropdown-item" href="/200level">200 LEVEL</a>
                        <a class="dropdown-item" href="/300level">300 LEVEL</a>
                        <a class="dropdown-item" href="/400level">400 LEVEL</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="table-responsive-sm">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th>UNIT/S</th>
                        </tr>
                    </thead>
                    <tr
                        title="Brain chemistry, Brain Disorders and psychopathology – the neurochemical factors in brain disorders as they relate to mental retardation, schizophrenia, depression and anxiety. Emphasis will be on current empirical evidence.">
                        <td>PSY 431</td>
                        <td>Psychological Study of Behavior</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="Perception; Differences in social perception; Inference processes and forming impressions of others; Perception of emotion; Attribution - rules and biases; Theoretical approaches to attribution; Self perception; Implications of social perception and attribution processes on interpersonal and intergroup relations.">
                        <td>PSY 441</td>
                        <td>Social Perception and Attribution</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The course will focus on man as a consumer of goods and services, the choices he makes and factors that determine choice. Topics will cover such areas as the exchange theory; social and individual influences on exchange behaviour; the effects of advertisement, brand and product image and consumer preference; effect of economic conditions on consumer behaviour; market research and its methods.">
                        <td>PSY 443</td>
                        <td>Consumer Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="Definition of work related concepts; Theoretical and empirical analysis of factors underlying choice of vocations; work organizations and careers; Theories of occupational choice; Holland's personality theory; Trait and factor; Super's Developmental theory; Ginzberg's process theory; chance theory; sociological theories; Need theories; Career ladders and effects of technological advances on jobs and workers. ">
                        <td>PSY 445</td>
                        <td>Psychology of Vocational Behavior</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="Historical evolution of abnormal/clinical Psychology; the concepts of normality and abnormality; Abnormality -  Causation and Classification; Severe forms of abnormal behaviour; Psychoses; Personality disorders and delinquency; Personality assessment in Clinical disorders; Treatment techniques in mental disorders; African orientations to causation and management; Practicals and field trainings.">
                        <td>PSY 451</td>
                        <td>Advanced Clinical/Abnormal Psychology </td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The course aims at introducing the student to the applied field of behaviour modification and exposing him/her to the technology of behaviour change primarily in human beings. Topics will cover such areas as History of behaviour therapy/modification; general principles and theories underlying behaviour therapy / modification; behaviour modification techniques: Rational-emotive, assertion training, contingency management, systematic desensitisation, flooding and implosive therapy biofeedback technique, modelling, and aversion therapy. Practicals.">
                        <td>PSY 453</td>
                        <td>Behavior modifications</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="Introduction to Forensic Psychology – definition and scope; art of identification of incidence; integrations and confessions using psychological skills; interviewing techniques, crime and delinquency: psychopathic behaviours and society: juvenile offender and the law; mental status of the offender; socio-psychological implication of legal judgments; Crime, Culture and Prevention; mental health legislation.">
                        <td>PSY 455</td>
                        <td>Police/forensic Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="This course lays emphasis on a thorough grasp of the behaviour change, especially in human beings. The students will be exposed to practical training in bringing about behaviour change. Topics will cover such areas as definition and scope of psychotherapy; Basic principles in psychotherapy, Goals of psychotherapy; some models of psychotherapy – the psychoanalytic model, the humanistic/Existential model the Gestalt model; Group therapy.">
                        <td>PSY 457</td>
                        <td>Practicum in PsychoTheraphy</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="History; nature, functions and theories of measurement in psychology; Test typologies and classification; application of tests; Basic attributes of psychological tests - standardization, reliability, validity and predictive utility; Statistical foundations of psychometrics; Techniques of test construction - determining domain, item selection and analysis, item validity, difficulty level; interpretation of standardized tests; social and ethical consideration in psychological test construction; constraints and limitations to psychological test development in Nigeria; limitations of existing indigenous tests in Nigeria; Practical exercises.">
                        <td>PSY 461</td>
                        <td>Psychological Testing and Testing Constructions</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><b>TOTAL UNITS</b></td>
                        <td></td>
                        <td><b>18</b></td>
                    </tr>
                </table>
                <br>
                <h6><b>
                        SECOND SEMESTER COURSES
                    </b></h6>
                <br>
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>COURSE CODE</th>
                            <th>COURSE TITLE</th>
                            <th>UNIT/S</th>
                        </tr>
                    </thead>
                    <tr
                        title="Introduction to Psychopharmacology; examining attempts to alter behaviour through the use of drugs (e.g. Anxiolytes, antidepressants, sedatives); the role of psychometric drugs and other drugs of addiction in the alteration of behaviour.">
                        <td>PSY 432</td>
                        <td>PsychoPharmacology</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The course will focus on human behaviour and human problems in industries and organisations. Issues such as the Concept of Power and Authority; Motivation in industries and organisations; Job satisfaction and morale; leadership and supervision; Work, job and Organisational Design; organisational effectiveness and development; Managerial psychology in organisations; formal and informal groups; group conflicts and their resolution; managing human problems of technological change, conflicts and crises.">
                        <td>PSY 440</td>
                        <td>Organizational Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The course will focus on the application Human Factors, Industrial/Organisational Psychology, Social and Clinical Psychology Principles in solving military problems. Issues such as Vigilance; attention and signal detection; Personality theory and personality differences; Leadership; Obedience and Compliance; Testing, selection; training of military personnel; Combat stress; Drug use among the military; Counselling and psychotherapy will be discussed.">
                        <td>PSY 442</td>
                        <td>Military Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The meaning and scope of industrial relations as a disciplines; Nature and psychological aspects of labour management relations in organisation; industrial disputes and settlement; causes and development of labour unions; Nature of collective bargaining, Psychological aspects of collective bargaining. Role of communication In union-management relations; Joint consultations with Unions; Achieving effective communication with the unions; conducting union management meetings; Achieving effective decisions making and problem solving with the unions; Quality of work life and positive union-management relations. ">
                        <td>PSY 444</td>
                        <td>Psychology of Union Management Relation</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="This is a continuation of the course in Psychotherapy that provides the student an opportunity to handle real clinical cases under strictly supervision. The student will be expected to learn and be able to use advanced techniques of behaviour change (e.g. systematic Desensitization) in the treatment of cases.">
                        <td>PSY 458</td>
                        <td>Practicum in PsychoTheraphy</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="Students are expected to choose and write a clear and original research work which may be empirical research or field work based on an approved topic and on relevant psychological issues.">
                        <td>PSY 490</td>
                        <td>Research Projects</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>ELECTIVE: ONE</b></td>
                        <td></td>
                    </tr>
                    <tr
                        title="Social Psychological analysis of the concept of social change;; innovations and strategies for change; actors in change process; resistance to change; dynamics of peasant cultures: studies of pre-literate societies; adjustment problems to social change, value conflicts and crises of identity; ethics in social change">
                        <td>PSY 446</td>
                        <td>Psychology of Social Change</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The Concept and History of Sports Psychology; relevance of psychology to sports; behavioural principles and applications; Individual/group motivation; leadership, cohesion and audience effects; pre-performance propaganda and management; Anxiety in sports; Aggression and violence in sports; Psychological assessment, sports politics.">
                        <td>PSY 448</td>
                        <td>Sports Psychology</td>
                        <td>2</td>
                    </tr>
                    <tr
                        title="The contexts of this course may change from year to year depending on changing focus of research and conceptualization in psychology. Emphasis will be on Issues that are particular to Nigeria and issues that concern psychology in general. Current issues like terrorism; kidnapping, cultism, crime, HIV/AIDS, Ebola Virus Disease, Drug Abuse, Societal conflicts and its impact, unemployment,  youth delinquency, breast feeding of infants, maladministration, education, child abuse and neglect, broken marriages, life expectancy, environmental pollution and degradation and its impact on people will form the focus. Proposed areas to be covered include; clinical psychology, organizational psychology, personality, social and developmental psychology.">
                        <td>PSY 472</td>
                        <td>Current Issues in Psychology</td>
                        <td>2</td>
                    </tr>
                    </tr>
                    <tr>
                        <td><b>TOTAL UNITS</b></td>
                        <td></td>
                        <td><b>18</b></td>
                    </tr>
                </table>
            </div>
        </nav>
    </div>
</div>
<br><br>