<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <h4><b>
            <center>ABOUT US</center>
        </b>
    </h4>
    <br><br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <img src="../images/images (24).jpeg" alt="NAPS image" class="aboutus" />
                </div>
                <div class="col-8 col-lg-9">
                    <p><a href="/history"><b>HISTORY</b></a></p>
                    <p>
                        The department of psychology, Imo state University, Owerri, started in 1995/1996 academic
                        session with a student population
                        of 43 under the headship of Mrs. Chioma Joyce Onukogu...
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <img src="../images/images (26).jpeg" alt="NAPS image" class="aboutus" />
                </div>
                <div class="col-8 col-lg-9">
                    <p><a href="/objectives"><b>OBJECTIVES</b></a></p>
                    <p>
                        In the long term, knowledge of the science of psychology will equip students to tackle problems
                        such as:
                        <br> a) Conducting relevant research that will provide basis for social policy formulation...
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <img src="../images/images (27).jpeg" alt="NAPS image" class="aboutus" />
                </div>
                <div class="col-8 col-lg-9">
                    <p><a href="/guidelines"><b>GUIDELINES FOR B.SC. DEGREE IN PSYCHOLOGY</b></a></p>
                    <p> A four year programme shall be provided leading to the award of Bachelor of Science degree to
                        be denoted
                        by the letters <b>BSc.</b> which may be awarded with honours or as a pass degree.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <img src="../images/images (28).jpeg" alt="NAPS image" class="aboutus" />
                </div>
                <div class="col-8 col-lg-9">
                    <p><a href="/orientation"><b>ORIENTATION PROGRAMME</b></a></p>
                    <p>
                        All new students are expected to undergo an orientation programme prior to their registration
                        exercise.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <img src="../images/images (29).jpeg" alt="NAPS image" class="aboutus" />
                </div>
                <div class="col-8 col-lg-9">
                    <p><a href="/examination"><b>EXAMINATION RULES AND REGULATIONS</b></a></p>
                    <p>1. End of Semester Examinations:</b>All courses taught during a semester shall be examined at
                        the end
                        of that semester and students shall be credited...
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-4 col-lg-3">
                    <img src="../images/images (15).jpeg" alt="NAPS image" class="aboutus" />
                </div>
                <div class="col-8 col-lg-9">
                    <p><a href="/libraryinfo"><b>LIBRARY FACILITIES</b></a></p>
                    <p>
                        The Department’s E-library is located within the Faculty of Social Sciences. Staff and
                        Registered students of the department
                        can access the e-library only on weekdays.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>