<br>
<h5><b>
    ABOUT US
  </b>
</h5>
<br><br>
<ul>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <br>
        <img src="/images/images (24).jpeg" alt="NAPS image" class="aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/history"><b>HISTORY</b></a></p>
        <p>
          The department of psychology, Imo state University, Owerri, started in 1995/1996 academic
          session<span class="seek"> with a student population
            of 43 under the headship of Mrs. Chioma Joyce Onukogu</span>...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <br>
        <img src="/images/images (26).jpeg" alt="NAPS image" class="aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/objectives"><b>OBJECTIVES</b></a></p>
        <p>
          In the long term, knowledge of the science of psychology will equip students to tackle problems
          such as:
          <span class="seek"><br> a) Conducting relevant research that will provide basis for social policy
            formulation</span>...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <br>
        <img src="/images/images (27).jpeg" alt="NAPS image" class="aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/guidelines"><b>GUIDELINES FOR B.SC. DEGREE IN PSYCHOLOGY</b></a></p>
        <p> A four year programme shall be provided leading to the award of Bachelor of Science degree to
          be<span class="seek">denoted
            by the letters <b>BSc.</b> which may be awarded with honours or as a pass degree</span>...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <br>
        <img src="/images/images (28).jpeg" alt="NAPS image" class="aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/orientation"><b>ORIENTATION PROGRAMME</b></a></p>
        <p>
          All new students are expected to undergo an orientation programme prior to their<span
            class="seek">registration
            exercise</span>...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <br>
        <img src="/images/images (29).jpeg" alt="NAPS image" class="aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/examination"><b>EXAMINATION RULES AND REGULATIONS</b></a></p>
        <p>1. End of Semester Examinations:</b>All courses taught during a semester shall be examined at
          the<span class="seek"> end
            of that semester and students shall be credited</span>...
        </p>
      </div>
    </div>
  </li>
  <br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-2">
        <br>
        <img src="/images/images (15).jpeg" alt="NAPS image" class="aboutus" />
      </div>
      <div class="col-8 col-sm-10">
        <p><a href="/libraryinfo"><b>LIBRARY FACILITIES</b></a></p>
        <p>
          The Department’s E-library is located within the Faculty of Social Sciences. Staff and
          Registered students of the department
          can<span class="seek"> access the e-library only on weekdays</span>...
        </p>
      </div>
    </div>
  </li>
</ul>
<br><br>