<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (24).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/history">HISTORY</a></p>
                    <br>
                    <p>
                        The department of psychology, Imo state University, Owerri, started in 1995/1996 academic session with a student population
                        of 43 under the headship of Mrs. Chioma Joyce Onukogu. The student’s population has gradually increased
                        over the years. The department graduated its first batch of students in the 1998/1999 session.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (26).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/objectives">OBJECTIVES</a></p>
                    <br>
                    <p>
                        <b>In the long term, knowledge of the science of psychology will equip students to tackle problems such as:</b>
                        <br> a) Conducting relevant research that will provide basis for social policy formulation.<br> b)
                        Providing effective and functional counselling and therapeutic services.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (27).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/guidelines">GUIDELINES</a></p>
                    <br>
                    <p><b>GUIDELINES FOR B. SC. DEGREE IN PSYCHOLOGY</b><br><br> 1. A four year programme shall be provided
                        leading to the award of Bachelor of Science degree to be denoted by the letters <b>B. Sc.</b> which
                        may be awarded with honours or as a pass degree.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (28).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/orientation">ORIENTATION</a></p>
                    <br>
                    <p><b>ORIENTATION PROGRAMME<br>
        REGISTRATION AND LECTURES:</b><br>All new students are expected to undergo an orientation programme prior to their
                        registration exercise.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (29).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/examination">EXAMINATION</a></p>
                    <br>
                    <p><b>EXAMINATION RULES AND REGULATIONS</b><br><b>1. End of Semester Examinations:</b>All courses taught
                        during a semester shall be examined at the end of that semester and students shall be credited with
                        the number of units assigned to the courses in which they have passed the requisite examination.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (15).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/libraryinfo">LIBRARY INFO</a></p>
                    <br>
                    <p> <b>LIBRARY FACILITIES</b><br>
                        <b>1. Department e-Library</b><br> The Department’s e-library is located within the Faculty of Social
                        Sciences. Staff and Registered students of the department can access the e-library only on weekdays.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    <br> {{>footer}}
</body>

</html>