<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <h3>
        <center>GUIDELINES</center>
    </h3>
    <p><b>GUIDELINES FOR B. SC. DEGREE IN PSYCHOLOGY</b><br><br> 1. A four year programme shall be provided leading to the award
        of Bachelor of Science degree to be denoted by the letters <b>B. Sc.</b> which may be awarded with honours or as
        a pass degree.
        <br><br> 2. Instructions in the department shall be by courses and empirical thesis at the final year. Students will
        be required to take an approved combination of courses in the University as the Senate and the Departmental Board
        may from time to time determine.<br><br> 3. Courses shall be evaluated in terms of course units. Credit units are
        weights assigned to each course as a measure of the amount of work done in those courses. Credit units measure course
        weighting as well as an indicator of students’ work load. The stipulated lecture times are two lecture contact hours
        per week, or three one hour laboratory field work or practical classes per week throughout a semester.<br><br> 4.
        There shall be four levels of courses, numbered from <b>101 -122; 221 - 254; 311 -382 and 431 -490.</b> Course numbers
        shall be prefixed by a three character programme/subject code. Determination of the class of degree shall be based
        on performance at all levels.<br><br> 5. In addition, the general studies programme is a compulsory requirement that
        must be satisfied by all students of the university. All students in this department are expected to take and pass
        the following GST/Computer Courses:<br><i>i. GST 1O1 – Use of English I<br> ii. GST 102 – Use of English II<br> iii. GST 103 – Introduction to Logic & Philosophy<br> iv. GST 104 – History and Philosophy
        of Science<br> v. GST 105 – Citizenship Education I<br> vi. GST 1O6 – Citizenship Education II<br> vii. GST 108 - Entrepreneurial Development I<br> viii. GST 223 - Entrepreneurial Development II<br> ix. GST 222 - Peace and
        Conflict Resolution
        <br> x. CMP 202 – Introduction to Computer<br> xi. CMP 301 – Computer Applications</i><br><br>6. a) All courses taught
        during each semester shall be examined at the end of the semester and candidates will be credited with the number
        of course units assigned to the course which they have passed.<br> b) In addition, the total number of course units
        taken with the grades obtained in each course shall also be recorded for the purpose of computing the Cumulative
        Grade Point Average (CGPA).<br><br> 7. Continuous Assessments (CA) may be regarded as part of course examination
        but marks scored through continuous assessment shall not constitute more than 30% of the full marks for the course.<br><br>8.
        The approved period of study for the award of the degree shall not normally be less than eight semesters.<br><br>        9. No student may normally offer less than 18 course units and more than 24 course units in any semester.<br><br>10.<br>        <i>a) The weighted grade points of courses taken shall be used for the determination of the class of degree.<br> b) The Cumulative Grade Point Average system shall be used for the determination
        of the class of degree.<br>c) The minimum number of course units for the award of degree shall be 144 units.<br> d) The degree shall be awarded with honours provided a student obtains a Cumulative Grade Point Average that satisfies
    the minimum requirements for an honours degree.</i><br><br> 11. The list of successful candidates for the degree shall
        be published with the following classification:<br> <i><b>a) First Class Honours<br> b) Second Class Honours (Upper Division)<br>                            c) <i>Second
        Class Honours (Lower Division)<br> d) Third Class Honours, and<br> e)Pass Degree.</b></i></i><br><br>12. Transfer
        students from outside the University /Department shall be expected to have taken and passed all the relevant courses
        for the department. For all transfers, a candidate shall:<br> <i>a) Have obtained a CGPA of not less than 1.00.<br> b) Meet the admission requirements applicable to the year of study and the programme into which he/she
            seeks transfer.<br> c) Earn waivers for only those relevant courses passed in his/her former department.<br> d) No transfers shall, however, be allowed into the first or final year of the programme.</i><br>
    </p><br>
    <p><b>13. GRADING SYSTEM</b><br> a) The mark obtained in each course is made up of continuous assessment of 30% and an end-of-
        semester examination of 70%.<br> b) Continuous assessment comprises any of:<br>
        <i>i. At least three tests, quizzes or assignments combination of same or part thereof.<br>
                                ii. Assessment in laboratory/field/clinics or combination as may be applicable.</i><br><br>
        <b>14. GRADE POINT (GP)</b><br> The mark scored in each course (continuous assessment and end-of semester examination
        score) has an equivalent letter grade of A to F, and each letter grade has a corresponding numerical value of 5.00
        to 0.00 called a grade point.<br><br>
        <b>15. GRADE POINT AVERAGE (GPA)</b><br> a) The academic performance of a student in any semester shall be measured
        with the Grade Point Average (GPA) which is the sum of quality points divided by total units for all the courses
        registered in the semester.<br> b) Quality Point (QP) is the product of the credit unit and grade point of each course.<br><br>
        <b>16. CUMULATIVE GRADE POINT AVERAGE (CGPA)</b><br> a) The Cumulative Grade Point Average (CGPA) is the measure
        of the students’ overall academic performance at any given point in his programme.<br> b) The CGPA is normally computed
        at the end of each semester as an up-to-date weighted mean of the grade points, where the weights are the course
        credit units.<br> c) The Grade Point earned at the end of semester examinations shall count towards the CGPA.
        <br> d) The CGPA is the sum of all quality point divided by the sum of all credit units for all courses registered/repeated
        so far in the programme.<br> e) The final CGPA obtained at the end of a students’ academic programme shall determine
        the class of degree the student shall be awarded.<br> f) Grades to be used for students who satisfactorily complete
        the work of a course by the end of the semester are:<br>
    </p>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-12">
                <div class="page-header">
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>MARKS %</th>
                                    <th>LETTER GRADES</th>
                                    <th>GRADE POINTS</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>70-100</td>
                                <td>A</td>
                                <td>5.00</td>
                            </tr>
                            <tr>
                                <td>60-69</td>
                                <td>B</td>
                                <td>4.00</td>
                            </tr>
                            <tr>
                                <td>50-59</td>
                                <td>C</td>
                                <td>3.00</td>
                            </tr>
                            <tr>
                                <td>45-49</td>
                                <td>D</td>
                                <td>2.00</td>
                            </tr>
                            <tr>
                                <td>40-44</td>
                                <td>E</td>
                                <td>1.00</td>
                            </tr>
                            <tr>
                                <td>0-39</td>
                                <td>F</td>
                                <td>0.00</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <p>17. The class of the degree of a student who has satisfactorily completed his course of studies shall be determined as
        follows:
    </p>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-12">
                <div class="page-header">
                    <div class="table-responsive-sm">
                        <table class="table table-hover table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>CGPA</th>
                                    <th>Class of Degree</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>4.50-5.00</td>
                                <td>First Class Honours</td>
                            </tr>
                            <tr>
                                <td>3.50-4.49</td>
                                <td>Second Class Upper</td>
                            </tr>
                            <tr>
                                <td>2.40-3.49</td>
                                <td>Second Class Lower</td>
                            </tr>
                            <tr>
                                <td>1.50-2.39</td>
                                <td>Third Class</td>
                            </tr>
                            <tr>
                                <td>1.00-1.49</td>
                                <td>Pass</td>
                            </tr>
                            <tr>
                                <td>0.00-0.99</td>
                                <td>Fail</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <br><br><br> {{>footer}}
</body>

</html>