{{>bodyss}}
<br>
<p><a href="/testpicture">CLOUDINARY</a></p>
<ul>
    <li class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <img src="../images/images (5).jpeg" alt="NAPS image" class="rounded aboutus" />
            </div>
            <div class="col-8 col-sm-9 col-lg-10">
                <p><a href="/defaultnews"><b>NEWS AND INFORMATIONS</b></a> <span
                        class="badge badge-danger badge-pill">{{number}}</span></p>
                <br>
                <p>
                    Latest News as it happens in Nigeria, and its Educational Institutions.
                </p>
            </div>
        </div>
    </li>
    <br><br>
    <li class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <img src="../images/images (8).jpeg" alt="NAPS image" class="rounded aboutus" />
            </div>
            <div class="col-8 col-sm-9 col-lg-10">
                <p><a href="/100level"><b>COURSES</b></a></p>
                <br>
                <p>
                    Click to view IMSU Psychology Courses and its course code. When registered, you can see the
                    lecturer handling the course.
                </p>
            </div>
        </div>
    </li>
    <br><br>
    <li class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <img src="../images/images (32).jpeg" alt="NAPS image" class="rounded aboutus" />
            </div>
            <div class="col-8 col-sm-9 col-lg-10">
                <p><a href="/login"><b>LOGIN</b></a></p>
                <br>
                <p>If you are a Registered Student of this Website, Click the Link above to <b>LOGIN</b>. But if
                    you're
                    a Psychology Staff, Click on <a href="/staff/login">STAFF_LOGIN</a>, to Login.
                </p>
            </div>
        </div>
    </li>
    <br><br>
    <li class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-2">
                <img src="../images/unnamed (2).png" alt="NAPS image" class="rounded aboutus" />
            </div>
            <div class="col-8 col-sm-9 col-lg-10">
                <p><a href="/studentSignup"><b>SIGNUP</b></a></p>
                <br>
                <p> If you are currently a student of IMSU Psychology, Click the Link above to Signup, and be a
                    registered
                    NAPS Student.
                </p>
            </div>
        </div>
    </li>
</ul>
<br>