{{>bodyss}}
<br>
<h4><b>MEET THE TEAM</b></h4>
<div class="glory">
  <div class="card p-2 bg-light game">
    <img src="../images/agbor.png" class="card-img-top mx-auto d-block" alt="Dr. Ngozi"
      style="width:200px;height:200px;border-radius:50%" />
    <div class="card-body">
      <h6 class="card-title">
        <b>DR. MRS AGBOR S. NGOZI</b>
      </h6>
      <p class="card-text float-center"><b><span class="fa fa-graduation-cap"> </span> HEAD OF DEPARTMENT</b></p>
      <p class="card-text"><b><span class="fa fa-hand-o-right"> </span> </b> "Towards a perfect man"</p>
    </div>
  </div>
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/uwaoma.png" alt="Nkwam Uwaoma"
      style="width:200px;height:200px;border-radius:50%" />
    <div class="card-body">
      <h6 class="card-title">
        <b>PROF. NKWAM UWAOMA</b>
      </h6>
      <p class="card-text"><b><span class="fa fa-graduation-cap"> </span> DEAN OF SOCIAL SCIENCES</b></p>
      <p class="card-text"><b><span class="fa fa-hand-o-right"> </span> </b> "Learning is a continous process"</p>
    </div>
  </div>
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/Sir Rich.jpg" alt="Sir Rich"
      style="width:200px;height:200px;border-radius:50%" />
    <div class="card-body">
      <h6 class="card-title">
        <b>SIR EBEH RICHARDS</b>
      </h6>
      <p class="card-text"><b><span class="fa fa-graduation-cap"> </span> STAFF ADVISER</b></p>
      <p class="card-text"><b><span class="fa fa-hand-o-right"> </span> </b> "Demystifying Human Behaviours"</p>
    </div>
  </div>
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/Ethelbert.png" alt="Mr. Ethelbert"
      style="width:200px;height:200px;border-radius:50%" />
    <div class="card-body">
      <h6 class="card-title">
        <b>ETHELBERT NJOKU</b>
      </h6>
      <p class="card-text"><b><span class="fa fa-graduation-cap"> </span> LECTURER</b></p>
      <p class="card-text"><b><span class="fa fa-hand-o-right"> </span> </b> "Applying Psychology in Problem Solving"
      </p>
    </div>
  </div>
</div>
<br><br><br>
<ul>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/ballot.jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="#"><b>E-VOTING</b></a></p>
        <br>
        <p>
          Coming Soon!!!...Voting for your favorite Departmental Excos will be possible with just a click of a button.
        </p>
        <p class="seek">You will also be getting Live Updates to check how various candidates are doing...</p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/images (1).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="/defaultnews"><b>NEWS AND INFORMATIONS</b></a> <span
            class="badge badge-danger badge-pill">{{number}}</span></p>
        <p>
          Get Latest News,and Trending topics as it happens in Nigeria, and its Educational Institutions.
        </p>
        <p class="seek">Also get Gists and Gossips happening around the campus and other neighbouring
          institutions...
        </p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/images (8).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="/100level"><b>BSC. COURSES</b></a></p>
        <p>
          Click to view psychology courses available for undergraduate students...
        </p>
        <p class="seek">Registered students can see the
          lecturer/s handling the course, and also register their courses.
        </p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/images (23).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p data-target="#chosen" data-toggle="collapse"><a href="#"><b>POST GRADUATE</b></a></p>
        <br>
        <p>If you're a "POST GRADUATE" Student, This is a one-stop shop for all informations.
        </p>
        <p class="seek">This allows Masters Degree Students PHD Students to have easier access to research materials and
          updates.</p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/unnamed (2).png" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="/studentSignup"><b>SIGNUP</b></a></p>
        <br>
        <p> If you are currently a student of IMSU and you're a psychology student, signup to make your access to
          schooling materials easy...
        </p>
      </div>
    </div>
  </li>
</ul>
<br>