{{>bodyss}}
<br>
<h4><b>MEET THE TEAM</b></h4>
<div class="glory">
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/images (19).jpeg" alt="team photo"
      style="width:70%;height:200px" />
    <div class="card-body">
      <h5 class="card-title">
        DR. MRS AGBOR S. NGOZI
      </h5>
      <p class="card-text"><b>Position: HEAD OF DEPARTMENT</b></p>
      <p class="card-text"><b>Status: </b>Towards a perfect man!!!</p>
    </div>
  </div>
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/images (22).jpeg" alt="team photo"
      style="width:50%;height:200px" />
    <div class="card-body">
      <h5 class="card-title">
        SIR EBEH RICHARDS
      </h5>
      <p class="card-text"><b>Position: STAFF ADVISER</b></p>
      <p class="card-text"><b>Status: </b>Psychology is the best course ever!!!</p>
    </div>
  </div>
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/images (19).jpeg" alt="team photo"
      style="width:70%;height:200px" />
    <div class="card-body">
      <h5 class="card-title">
        PROF. NKWAM UWAOMA
      </h5>
      <p class="card-text"><b>Position: DEAN OF SOCIAL SCIENCES</b></p>
      <p class="card-text"><b>Status: </b>Learning is a continous process!!!</p>
    </div>
  </div>
  <div class="card p-2 bg-light game">
    <img class="card-img-top mx-auto d-block" src="../images/images (22).jpeg" alt="team photo"
      style="width:50%;height:200px" />
    <div class="card-body">
      <h5 class="card-title">
        LAZARUS MUOKA
      </h5>
      <p class="card-text"><b>Position: GENERAL OVERSEER</b></p>
      <p class="card-text"><b>Status: </b>God of chosen is sooo great!!!</p>
    </div>
  </div>
</div>
<br>
<ul>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/images (5).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="/defaultnews"><b>NEWS AND INFORMATIONS</b></a> <span
            class="badge badge-danger badge-pill">{{number}}</span></p>
        <br>
        <p>
          Latest News as it happens in Nigeria, and its Educational Institutions.
        </p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/images (8).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="/100level"><b>COURSES</b></a></p>
        <p>
          Click to view IMSU Psychology Courses and its course code. When registered, you can see the
          lecturer handling the course.
        </p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/images (32).jpeg" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p data-target="#chosen" data-toggle="collapse"><a href="/login"><b>LOGIN</b></a></p>
        <br>
        <p>If you are Registered on this website, Click the Link above to <b>LOGIN</b>.
        </p>
      </div>
    </div>
  </li>
  <br><br>
  <li class="container-fluid">
    <div class="row">
      <div class="col-4 col-sm-3 col-lg-2">
        <img src="../images/unnamed (2).png" alt="NAPS image" class="rounded aboutus" />
      </div>
      <div class="col-8 col-sm-9 col-lg-10">
        <p><a href="/studentSignup"><b>SIGNUP</b></a></p>
        <br>
        <p> If you are currently a student of IMSU Psychology, Click the Link above to Signup, and be a
          registered
          NAPS Student.
        </p>
      </div>
    </div>
  </li>
</ul>
<br>