<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>body}}
    <br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (5).jpeg" alt="NAPS image" class="rounded" width="100%" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/defaultnews">NEWS AND INFORMATIONS</a> <span class="badge badge-danger badge-pill">{{number}}</span></p>
                    <br>
                    <p>
                        Latest News as it happens in Nigeria, and its Educational Institutions.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (8).jpeg" alt="NAPS image" class="rounded" width="100%" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/100level">COURSES</a></p>
                    <br>
                    <p>
                        Click to view IMSU Psychology Courses. You can also sort them by level by clicking <a href="/100level">100 Level Courses</a>,
                        <a href="/200level">200 Level Courses</a>,
                        <a href="/300level">300 Level Courses</a>, or <a href="/400level">400 Level Courses</a>.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/images (32).jpeg" alt="NAPS image" class="rounded" width="100%" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/login">LOGIN</a></p>
                    <br>
                    <p>If you are a Registered Student of this Website, Click the Link above to <b>LOGIN</b>. But if you're
                        a Psychology Staff, Click on <a href="/stafflogin">STAFF_LOGIN</a>, to Login.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-3">
                    <img src="../images/unnamed (2).png" alt="NAPS image" class="rounded" width="100%" />
                </div>
                <div class="col-sm-6 col-lg-9">
                    <p><a href="/studentSignup">SIGNUP</a></p>
                    <br>
                    <p> If you are currently a student of IMSU Psychology, Click the Link above to Signup, and be a registered
                        NAPS Student.
                    </p>
                </div>
            </div>
        </li>
    </ul>
    </div>
    <br>
    <footer>{{>footer}}</footer>
</body>

</html>