<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br><br>
    <p><b>LIBRARY FACILITIES</b><br>
        <b>1. Department e-Library</b><br> The Department’s e-library is located within the Faculty of Social Sciences. Staff
        and Registered students of the department can access the e-library only on weekdays. The following resources are
        available in the e-library:<br> i. Wireless internet ready desk-top and laptop computers all connected to top journal
        sites for specific academic works related to psychology.<br> ii. Specialized collection of classical and contemporary
        works in several fields of psychology;<br> iii. Local and international psychology journals and periodicals;<br>        iv. Psychological scales; and<br> v. Newspapers and magazines.<br>
        <b>2. Faculty Library</b><br> i) Specialized collection of classical and contemporary works in social sciences;<br>        ii) Local and International Social Science journals and periodicals; and<br> iii) Newspapers and magazines.<br>
        <b>3. University Library</b><br> i. Availability of a state-of-the-art e-library to enhance staff and student’s research
        <br> ii. Collection of board range of reference materials (dictionaries, encyclopaedias, gazettes, biographies, and
        bibliographies);
        <br> iii. Collection of books and document on all Fields of knowledge, covering all taught courses in the various
        disciplines in this university, for loan/borrowing to bona fide students of the university; and
        <br> iv. Collection of serials materials (local and international journals as well as proceedings of conferences
        and workshops for reading and consultation b’ bona fide students and staff).<br><br>
        <b>SEMINARS AND INTERACTIVE SESSIONS</b><br> 1. Departmental Seminars<br> 2. Faculty Seminars<br> 3. University-Organized
        Seminars and Workshops<br><br>
        <b>CONFERENCES AND WORKSHOPS</b><br> 1. Professional - Nigerian Psychology Association (NPA) and Nigerian Association
        of Clinical Psychologists (NACP).<br> 2. National and International - Organised and sponsored by Federal, State,
        and Local Governments of Nigeria; National Civil Society and Non-Governmental Organizations; as well as Regional
        (e.g. AU, EU) and International Organizations (e.g. UN, UNDP).<br>
    </p>
    <br> {{>footer}}
</body>

</html>