<br>
<h4><b>
    STUDENT LOGIN
  </b>
</h4>
<br>
{{#if message}}
  <p class="alert alert-success">{{message}}</p>
{{/if}}
{{#if ohno}}
  <p class="alert alert-danger">{{ohno}}</p>
{{/if}}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6" id="kilo">
      <form action="/studenthome" method="POST">
        <div class="form-group">
          <label for="matnumber"><b>MAT_NUMBER:</b></label>
          <input type="text" class="form-control" name="matnumber" placeholder="1234567- no slash" required>
        </div>
        <div class="form-group">
          <label for="password"><b>PASSWORD</b></label>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary"><b><span class="fa fa-cloud-upload"></span>
            LOGIN</b>
        </button>
        <p class="text-right"><a href="/staff/login">staff_login</a></p>
      </form>
    </div>
  </div>
</div>
<br><br>