<br>
<h4>
    <b>
        <center>OUR OBJECTIVES</center>
    </b>
</h4>
<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p><i>In the long term, knowledge of the science of psychology will equip students to tackle problems
                    such as:</i></p><br>
            <br>
            <p> a) Conducting relevant research that will provide basis for social policy formulation. <br><br> b)
                Providing effective
                and functional counselling and therapeutic services. <br><br> c) Providing business consultancy
                services.<br><br> d) Engaging in employee training and manpower development services. <br><br> e)
                Providing educational and cultural
                development programmes. <br><br> f) Conducting family and marriage counselling and
                psychotherapeutic services.
                <br><br> g) Assisting in career and vocational counselling.
                <br><br> h) Assisting in behaviour modification and other behavioural therapies. <br><br>i)
                Assisting in the management
                of psychosomatic disorders, substance use disorders and mental illnesses, etc.<br><br> j) Providing
                rehabilitation
                services.
                <br><br> k) Conducting psychological assessment such as intelligence testing, aptitude testing,
                neurological testing
                etc. <br><br> l) Providing gender selection services, weight management services, men’s health
                solution services,
                psychological adjustment services, personnel selection services as well as retirement preparation
                services.</p><br><br>
            <p><i>Objectives At Imo State University, the undergraduate degree in psychology is built around the
                    following goals:</i> </p> <br><br>
            <p>1. To give the students a firm background in the general discipline of psychology. Emphasis is on
                the principles, methods
                and philosophy of psychological investigation of human and animal behaviour. The stress area is the
                interdependence
                of the biological, psychological and socio cultural influences on human behaviour.
                <br><br> 2. To see students through a training and experience that will enable them to take up
                careers as psychologists
                in applied fields like education, medicine, administration, industry, law, commerce, the prison,
                police, armed forces,
                social welfare etc. with particular reference to the needs of Nigeria and Africa in the context of
                which research
                is to be carried out.
            </p>
        </div>
    </div>
</div>
<br><br>