<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <h3>
        <center><b>ORIENTATION PROGRAMME</b></center>
    </h3>
    <br>
    <p><b>
        REGISTRATION AND LECTURES:</b><br>All new students are expected to undergo an orientation programme prior to their
        registration exercise. This programme is intended to acquaint every new student with the whole range of services
        and privileges available to him/her as well as his/her responsibilities as a member of this academic community, It
        is expected that all new students would undertake the programme. It usually involves a meeting with the Vice-Chancellor
        or his representative, Deans of Faculties and a tour of major Units of the University. The programme for each year
        shall be circulated to freshmen and women prior to the commencement of the session At the beginning of each session,
        precisely in the first week of the first semester an orientation programme is organized for new students by the Department
        of Student Affairs in co-operation with the various departments of the University. It is mainly designed to acquaint
        the new students to the university life as well as enable them settle down quickly in the new found environment.
        Very important talks relevant to the student’s life in the University are discussed by both the academic and administrative
        staff of the University.<br><br><b>1. Objectives of the Orientation Programme</b><br>The objectives of the orientation
        for new students are to achieve the following:<br><i>i) to enable students to adjust to the physical environment of the University and operate at any frequency level in the University campus;
                                    <br>ii) to broaden the adjustment expectations of students to the university which is articulated in self discipline. Students are expected to be integral parts of the city of disciplined intellectuals;
                                    and<br>iii) to develop adjustment to listening to teachers,
                                    lectures and administrators in order to benefit from the training and instructions the university offers to the students.</i><br>It
        is, therefore, mandatory that all the students must attend all the sessions of the orientation programme.<br><br><b>2. Registration</b><br>To
        successfully complete the registration process, the student shall do the following:<br><b>Step 1:</b>pay his/her
        fees;
        <br><b>Step2:</b>present his/her fee clearance at the relevant faculty office and collect a set of registration materials;
        <br><b>Step 3:</b>after registration, the student reports to his/her Academic Adviser, The Adviser shall map out
        the students’ programme for the semester; the student then has to complete all the cards and present them to his/her
        Academic Adviser and the co-ordinator for their signatures; and
        <br><b>Step 4:</b>proceed to the Department of General Studies for assignment to his/her GST courses.<br><br><b>3. Other Aspects of Registration</b><br><i>i) Checking of Credentials: As part of the registration,
                                    students are required to report to the Registrar at the time shown against their department and bring with them the originals of their certificates / statements of result for inspection. A student will be asked to withdraw from the University if at any time it is discovered that his/her credentials do not meet the minimum entry requirements of the University.<br>ii) Adding/Dropping Courses: If it becomes necessary for a student to change any of the courses for which he has been registered,
                                    he shall obtain the Add/Delete Form from his/her department or faculty office for completion. Courses may be added or dropped,
                                    subject to approval of the Lecturer,
                                    Academic Adviser and coordinator of the department. The last date for adding/deleting courses is 6 (six) weeks after the commencement of lectures for any semester.<br>iii) Change of Degree Programmes: No student who meets all University and departmental entry requirements will be allowed to change his/her programmer of study until he\she has completed a full session in the programmer to which he/she was admitted. Any student who does not meet the special requirements of the discipline to which he/she has been admitted shall not normally have the option of changing to another discipline but will be asked to withdraw. However,
                                    subject to the availability of space,
                                    such a student may be allowed to change to any other programme within the Faculty for which he meets the admission requirements.<br>iv) Identity Cards: Registration is incomplete without identity cards: Arrangements are normally made by the Student Affairs and Registry to produce laminated identity cards with photographs for all freshmen/women. Each matriculated student must ensure that he/she has an identity card of Imo State University duly signed by the Registrar.</i><br><br><b>4. Student Personal Information Data Form:</b><br>Each
        student, on arrival and after first registration, is required to submit one signed passport size photograph and a
        file jacket to the Office of the Dean of Student Affairs and to fill all the necessary forms.<br>The Student Affairs
        Office maintains a Personal information Data form for every student. The form is obtained from the Office of the
        Dean of Student Affairs. On submission of a duly completed Personal Information Data Form, a file is opened for the
        student. All students are therefore enjoined to ensure that the said form is appropriately and duly completed, signed
        and returned to the Office of the Dean of Student Affairs with a signed passport size photograph to be affixed at
        the place indicted on the form.<br>It is important to note that unless a student has a file in the Student Affairs
        Department, he/she may avail himself/herself of the services of the Department, especially those of careers and Advisory
        services.
        <br><b>5. Lectures:</b><br>Lectures are scheduled between 8.00am and 6.00pm, except on Wednesday when lectures are
        scheduled between 8.00am and 12.00 noon.</p>
    <br><br> {{>footer}}
</body>

</html>