<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>view_body}}
    <br>
    <h1>Students SignUp</h1>
    {{#if errors}}
        <p>{{errors}}</p>
    {{/if}}
    <nav class="col-lg-10">
        <form class="form group" action="" method="POST" enctype="multipart/form-data">
            <label for="email"><b>E-mail:</b></label>
            <input type="email" name="email" class="form-control" autocomplete="on" placeholder="Email.com" required>
            <br>
            <label for="surname"><b>Surname:</b></label>
            <input type="text" name="surname" class="form-control" autocomplete="on" placeholder="surname" required>
            <br>
            <label for="firstname"><b>First name:</b></label>
            <input type="text" name="firstname" class="form-control" autocomplete="on" placeholder="first name" required>
            <br>
            <label for="matnumber"><b>Mat Number:</b></label>
            <input type="text" name="matnumber" class="form-control" minlength="7" maxlength="8" placeholder="1234567" required>
            <br>
            <label for="level"><b>Current level:</b></label>
            <input type="text" name="level" class="form-control" placeholder="100">
            <br>
            <label for="gender"><b>Gender:</b></label>
            <input type="text" name="gender" class="form-control" placeholder="male/female" required>
            <br>
            <label for="phone"><b>Phone Number:</b></label>
            <input type="tel" name="phone" class="form-control" minlength="11" maxlength="11" required>
            <br>
            <label for="image"><b>Profile Picture:</b></label>
            <input type="file" class="form-control" name="image" placeholder="upload photo" required>
            <br>
            <label for="bio"><b>Bio:</b></label>
            <input type="text" class="form-control" name="bio" placeholder="About you" required>
            <br>
            <label for="password"><b>Password:</b></label>
            <input type="password" name="password" class="form-control" required>
            <br><br>
            <button type="submit" class="btn btn-success btn-block"><b>Sign Up</b></button>
        </form>
        <p></p>
    </nav>
    <br> {{>footer}}
</body>

</html>