<br>
<h5><b>
    STUDENT SIGNUP
  </b></h5>
{{#each errors}}
  <p>{{this.error}}</p>
{{/each}}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6" id="kilo">
      <form class="form group" action="" method="POST">
        <label for="email"><b>E-MAIL:</b></label>
        <input type="email" name="email" class="form-control" placeholder="Email.com" required>
        <br>
        <label for="surname"><b>SURNAME:</b></label>
        <input type="text" name="surname" class="form-control" placeholder="surname" required>
        <br>
        <label for="firstname"><b>FIRST NAME:</b></label>
        <input type="text" name="firstname" class="form-control" placeholder="first name" required>
        <br>
        <label for="matnumber"><b>MAT_NUMBER:</b></label>
        <input type="number" name="matnumber" class="form-control" minlength="7" placeholder="1234567- no slash"
          required>
        <br>
        <label for="level"><b>CURRENT LEVEL:</b></label>
        <select name="level" class="form-control" required>
          <option value="100">100 level</option>
          <option value="200">200 level</option>
          <option value="300">300 level</option>
          <option value="400">400 level</option>
        </select>
        <br>
        <label for="gender"><b>GENDER:</b></label>
        <select name="gender" class="form-control" required>
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
        <br>
        <label for="phone"><b>PHONE NUMBER:</b></label>
        <input type="tel" name="phone" class="form-control" minlength="11" maxlength="11" required>
        <br>
        <label for="bio"><b>BIO:</b></label>
        <input type="text" class="form-control" name="bio" placeholder="About you" required>
        <br>
        <label for="password"><b>PASSWORD:</b></label>
        <input type="password" name="password" class="form-control" required>
        <br><br>
        <small>remember your mat-number and password for login</small>
        <button type="submit" class="btn btn-primary float-right"><b>SIGNUP</b></button>
      </form>
      <p></p>
    </div>
  </div>
</div>