<br>
<h5><b>
    EDIT SCHEDULE
  </b>
</h5>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6" id="kilo">
      <form class="form-group" action="/studentedittimetable/{{timey.id}}" method="POST">
        <div>
          <label for="course"><b>COURSE:</b></label>
          <select name="course" class="form-control" required>
            <option value="FREE">FREE</option>
            {{#each course}}
              <option value="{{this.coursecode}}">{{this.coursetitle}}</option>
            {{/each}}
          </select>
        </div>
        <br><br>
        <button type="submit" class="btn btn-success"><b><span class="fa fa-cloud-upload"></span>
            EDIT</b></button>
      </form>
    </div>
  </div>
</div>
<br><br>