<br>
<h4><b>
        <center>STAFF LOGIN</center>
    </b>
</h4>
<br>
<p>{{ohno}}</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6" id="kilo">
            <form action="/staff/staffhome" method="POST">
                <div class="form-group">
                    <label for="staff_id"><b>STAFF_ID:</b></label>
                    <input type="text" class="form-control" name="staff_id" placeholder="Staff_id" required>
                </div>
                <div class="form-group">
                    <label for="password"><b>PASSWORD</b></label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <br><br>
                <button type="submit" class="btn btn-success"><b><span class="fa fa-cloud-upload"></span> LOGIN</b></button>
            </form>
        </div>
    </div>
</div>
<br><br>