<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <h2>
        <b><center>{{staffy}}'s HOMEPAGE</center></b>
    </h2>
    <br><br>
    <ul>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/images (11).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="/staffstudentlist">LIST OF PSYCHOLOGY STUDENTS</a></p>
                    <br>
                    <p>
                        You can see all the psychology Students, View their Profiles , and get other informations.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/unnamed (1).png" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="/getschedule">SCHEDULE</a></p>
                    <br>
                    <p>
                        Your Schedules includes all the Courses taught by you and would automatically set notifications for you.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/images (16).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="/staffgetallcourses">VIEW UNDERGRADUATE COURSES</a></p>
                    <br>
                    <p>Click to view courses offered by each level. You can also add courseoutlines, assignments, and test.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/images (23).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="/staffsstafflist">LIST OF PSYCHOLOGY STAFFS</a></p>
                    <br>
                    <p>
                        You can see all the Colleagues, View their Profiles , and the courses they handle...
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/images (17).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="/staffgetprojecttopics">PROJECT TOPICS</a></p>
                    <br>
                    <p>Click to view project topics uploaded on this website.
                    </p>
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/images (19).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="#">UPLOAD ASSIGNMENT</a></p>
                    <br>
                    <p> Click on Upload assignment, then select the level that you want to upload the assignment to...
                </div>
            </div>
        </li>
        <br>
        <li class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <img src="../images/images (20).jpeg" alt="NAPS image" class="rounded" width="100%" height="150" />
                </div>
                <div class="col-sm-8 col-lg-10">
                    <p><a href="#">UPLOAD HAND_OUT</a></p>
                    <br>
                    <p>
                        You can upload a hand_out in .PDF format to a particular level.
                    </p>
                </div>
            </div>
        </li>
        <br>
    </ul>
    </div>
    <br>
    <br>
    <footer>{{>footer}}</footer>
</body>

</html>