<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <h3>
        <center>PROJECT TOPICS</center>
    </h3>
    <ol>
        {{#each projectss}}
            <li class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p><a href="/{{this.project}}">{{this.topic}}</a></p>
                        <br>
                    </div>
                    <br>
                    <div class="col-12 col-lg-8">
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </li>
            <br><br>
            {{else}}
                <p>THERE ARE NO UPLOADED PROJECT TOPIC.</p>
        {{/each}}
    </ol>
    <br><br>
    <footer>{{>footer}}</footer>
</body>

</html>