<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br>
    <p><a href="/cj_topics.pdf">FILE</a></p>
    <p><a href="/Exam_anxiety.pdf">Exam_Anxiety</a></p>
    <br>
    <footer>{{>footer}}</footer><br>
</body>

</html>