<!DOCTYPE html>
<html lang="en-US">

<head>
    {{>head}}
</head>

<body>
    {{>staff_lecbody}}
    <br><br>
    <p><b>EXAMINATION RULES AND REGULATIONS</b><br><b>1. End of Semester Examinations:</b>All courses taught during a semester
        shall be examined at the end of that semester and students shall be credited with the number of units assigned to
        the courses in which they have passed the requisite examination.<br><b>2. Timetable for Examinations:</b>The examinations
        timetables shall, as much as possible, be arranged so that the examinations could be taken it the following order
        : <br>i. Combined sessional and final year courses<br>ii. Semester/sessional courses<br>iii. GST courses<br><i>The Registrar shall produce the final examinations time-table and circulate same to all Faculties normally not later than 2 weeks before the commencement of the examinations. Any suggested change in the time-table shall be entertained only on the recommendation of a department through its faculty to the Registrar who shall then take such action as is deemed necessary.</i><br><b>3. Accommodation:</b>All
        examinations shall be held in halls and rooms approved by Senate as appropriate for the purpose. Candidates must
        be seated far apart from each other so as to prevent any temptation to cheat. The sitting arrangement shall be such
        that all candidates for the examination must be visible to the invigilator / invigilators to reach the candidate
        with ease.<br><b>4. Setting and Moderation of Examination Questions:</b>Each lecturer shall be required to prepare
        and submit to the Department’s Examinations Committee, at least ten questions for one examination in each course
        taught as well as the list of candidates which shall be submitted through the Department’s Examinations Co-ordinator.
        Only one copy of the draft question paper shall be prepared and submitted. The Examination Committee of each discipline
        shall moderate, select and approve the questions which shall appear on each question paper. <br><b>5. Conduct Of Examinations:</b><br>i.
        Each course shall normally be examined at the end of the semester. However, final year projects and research papers
        may be examined at the end of the second semester.<br>ii. There shall be an examination in every course and only
        one course shall be examined in one paper.<br>iii. The time allowed for one theory paper shall not normally exceed
        three hours.<br>iv. Continuous assessment (quizzes and tests) is normally required in every course. Continuous assessment
        of students shall be by means of term papers, formal and informal tests, assessment in workshop/assessments, etc.,
        as may be applicable to a given discipline. However, continuous assessment shall not account for more than 30% of
        the final grades in the course.<br>v. A pass mark shall be 40% in every undergraduate course, taking into account
        the approved theory/practical papers.<br>vi Where laboratories/practical/workshops/studios/legal/ clinics, etc.,
        form part of a course, the performance in these will amount for not more than 50% of the course examination.
        <br>vii. Where a student passes a course, the student is not permitted to register or carry-over the same course
        hence the initial mark/grades obtained by the students is recorded for him or her.<br>viii The Coordinator shall
        produce requisite number of question papers for the examination in each course. and keep custody of same until they
        are collected by the invigilators.<br><b>6. Invigilation</b><br>i. Invigilation of examinations within each faculty
        shall be the responsibility of the University’s Central Examinations Committee. The Faculty’s Examinations Coordinator
        shall arrange for this and after the examination, will be required to submit appropriate report on the examinations
        to the Examination’s Committee.
        <br>ii. There shall be at least two invigilators for every examination hall. In a hall with more than 100 students,
        there shall be at least one additional invigilator for every additional 50 students.<br>iii. Supervisors and Invigilators
        must report at their respective examination halls not later than 20 minutes before the start of the examination.
        Central Examinations Supervisors shall collect the question papers and answer scripts from the Faculty’s Examinations
        Coordinator 30 minutes before the examination is due to start.<br>iv. Examinations shall normally start at the time
        stated on the timetable. Examination question papers are to be opened in the presence of candidates who should already
        be seated in their respective positions.<br>v. It is the duty of the invigilators, under the leadership of the Coordinator/Supervisors
        to ensure that;
        <br><i>a. Every candidate admitted into the examination room is in good standing as a student of Imo State University and has met the 75% attendance-at-lecture requirement indentified by the University;
                                    <br>b. Every candidate is reminded of the regulations governing the conduct of examinations;
                                    <br>c. The attendance register of candidates is completed during the examination and that all students involved in the examination shall sign in;
                                    <br>d. No student is allowed to enter the examination hall 30 minutes after the commencement of the examination;
                                    <br>e. No student may leave the hall earlier than 30 minutes to the end of the examination;
                                    <br>f. No candidate shall take examination question papers out of the examination room until the end of the examination;
                                    <br>g. Invigilators shall walk round the examination hall periodically;
                                    and h. Invigilators shall collect the scripts of each student before he or she leaves the examination room and ensure that he or she signs out.</i></p><br><br>
    <p><b>EXAMINATION MALPRACTICES</b><br><b>1. Definition:</b>Examination malpractices are unfair practices or infringement
        of Imo State University examinations. These include, but are not limited to, students copying from each other; students
        bringing into examination halls papers, books or other materials relevant for cheating purpose; all forms of communication
        between students during an examination; causing any form of disturbance; not observing the time regulations of the
        examination; and disobeying the invigilators.<br><b>2. Procedure for Dealing with Examination Malpractices:</b><br>i.
        When a student is caught or suspected to be involved in a case of examination malpractice, he or she should be allowed
        to complete the examination but he or she will be required by the supervisor to write a report or he/she may choose
        to write his/her own. A student who refuses to sign the supervisor’s report or to write his/her own will be guilty
        of an examination malpractice.<br>ii. The supervisor (s) shall submit a written report of the incident to the Faculty’s
        Examinations Coordinator or the Chairman of the Central Examinations Committee (CEC), within 24 hours after the examinations
        (for examinations taken from Monday – Thursday), and 36 hours for examinations taken on a Friday or Saturday.<br>iii.
        The Coordinator and or Chairman of the Central Examinations Committee shall pass on the report to the Registrar after
        the initial assessment within two weeks of the examinations. The Registrar shall refer the report to the Vice-Chancellor
        not later than a week after the receipt of the report.<br>iv. The Vice-Chancellor shall institute an investigation
        on the case. The investigation panel so instituted all have the right to invite written and/or oral evidence from
        the invigilator, supervisor, the student(s), and/or witness or witnesses concerned and any other(s), relevant to
        the case. <br>v. The Vic-Chancellor shall, thereafter, take appropriate action and report to Senate.<br><b>3. Disciplinary Measures</b><br>i.
        Normally, the disciplinary action for all proven cases of examination malpractices is expulsion from the University
        However, all case bordering on the miscellaneous offences shall be referred to a court of law. Whereas;
        <br>a) introduction of relevant notes to the examination hall, students copying from each other, or previous access
        to examination papers etc., shall attract expulsion from the university; and
        <br>b) invigilation offences such as aiding and/or abetting cheating, assaulting or attempting to assault the invigilator,
        causing any form of disturbance, not observing the time regulations of the examination, shall be punishable with
        one-year rustication.<br>ii. A student penalized under (i) above, shall have the right of appeal to Senate in the
        first instance and to Council if not satisfied with decision of Senate on his appeal.<br>iii. Any staff involved
        in examination malpractice shall be referred to the staff disciplinary committee.
    </p><br>
    <p><b>Grading And Review Of Scripts</b><br>
        <b>1. Grading</b><br> A lecturer shall normally mark all scripts for courses he taught or participated in teaching,
        using a marking scheme and determining the grade(s) to be awarded to each student. The scripts shall be submitted
        to the Disciplinary Committee of Examiners for final vetting. The same provision shall apply to oral and practical
        examinations.
        <br>
        <b>2. Review of Scripts</b><br> i) A student aggrieved by his/her grading shall, in the first instance, petition
        the Registrar through the Coordinator and Dean for a review of his script on payment of a non-refundable fee of N500.00,
        stating in detail the ground(s) for his application. The Registrar shall refer the petition to the Departmental Board
        through the Dean of the Faculty.<br> ii) On receipt of the petition, the Dean shall convene a meeting of the Faculty
        Board to consider the petition. If the Board is satisfied that a prima facie case has been made, permission should
        be sought from senate to review the script. A panel comprising two internal examiners not involved in the earlier
        marking, shall independently review the service of an external examiner specifically appointed for that purpose.
        The results of the review shall be sent to Senate for final determination along with original score and the recommendation
        of the Faculty Board.<br> iii) But, if the Faculty Board decides that a prime facie case has not been made, it shall
        state in detail the reason(s) for its decision and shall convey same to Senate through the Vice-Chancellor for disposal
        action.
        <br><br>
        <b>RESULTS, AWARDS, GRADUATION AND CONVOCATION</b><br><br>
        <b>1. Determination of Performance Level</b><br> i. A candidate’s raw score in an examination, usually expressed
        as a percentage, is converted into grades which are weighted by being assigned point values. The following ranges
        of marks and their corresponding grades and points weighing are to be used:<br></p>
    <p>
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-12">
                    <div class="page-header">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>RAW SCORE</th>
                                        <th>GRADE EQUIVALENT</th>
                                        <th>PERFORMANCE RATING</th>
                                        <th>POINTS</th>
                                        <th>CLASSIFICATION OF DEGREE</th>
                                    </tr>
                                </thead>
                                <tr class="succeed">
                                    <td>70%-100%</td>
                                    <td>A</td>
                                    <td>Distinction</td>
                                    <td>5</td>
                                    <td>4.50– 5.00 = 1st Class </td>
                                </tr>
                                <tr class="anger">
                                    <td>60%-69%</td>
                                    <td>B</td>
                                    <td>Very Good</td>
                                    <td>4</td>
                                    <td>3.50 – 4.49 = 2nd Class Upper</td>
                                </tr>
                                <tr class="inform">
                                    <td>50%-59%</td>
                                    <td>C</td>
                                    <td>Good</td>
                                    <td>3</td>
                                    <td>2-40-3.49 = 2nd Class Lower</td>
                                </tr>
                                <tr class="waring">
                                    <td>45%-49%</td>
                                    <td>D</td>
                                    <td>Fair</td>
                                    <td>2</td>
                                    <td>1.50 – 2.39 = 3rd Class</td>
                                </tr>
                                <tr class="nothing">
                                    <td>40%-44%</td>
                                    <td>E</td>
                                    <td>Pass</td>
                                    <td>1</td>
                                    <td>1.00 – 1.49 = Pass</td>
                                </tr>
                                <tr class="succeed">
                                    <td>0%-39%</td>
                                    <td>F</td>
                                    <td>Fail</td>
                                    <td>0</td>
                                    <td>0.00 – 0.99 = Fail </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </p>
    <p>(ii) “A”, “B”, “C”, “D”, “E”, are pass grades while “F” is a failure grade. It is the responsibility of the Departmental/Faculty
        Boards to determine how each lecturer within the department/faculty arrives at the grades.</p>
    <br><br> {{>footer}}
</body>

</html>