<br>
<h2><b>
        <center>STUDENT OFFERING</center>
    </b></h2>
<br><br>
<ol>
    {{#each upload}}
        <li class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <p><b>NAME: </b><a href="/staffstudentprofile/{{this.id}}">{{this.name}} {{this.surname}}</a></p>
                </div>
            </div>
        </li>
        <br><br>
        {{else}}
            <p>THERE ARE NO REGISTERED PSYCHOLOGY STUDENT</p>
    {{/each}}
</ol>
<br><br>